<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <title>申诉详情</title>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link th:href="@{/css/font-awesome.css?v=4.3.0}" rel="stylesheet"/>

    <style type="text/css">
        .div_member_title p {
            width: 100%;
        }

        .div_member_title button {
            float: right;
            margin-top: -8px;
        }

        #div_appeal_content {
            margin-left: 20px;
            border-top: none;
        }

        #table_content_info {
            width: 70%;
            text-align: left;
            margin-left: 120px;
            line-height: 50px;
        }

        #table_content_info td {
            border-bottom: 1px #ccc dashed;
        }

        #table_personal_info {
            width: 70%;
            text-align: left;
            line-height: 35px;
            table-layout: fixed;
            margin-left: 120px;
            margin-bottom: 30px;
        }

        #table_personal_info td {
            border-bottom: 1px #ccc dashed;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: left
        }

        #table_doc td {
            width: 250px;
        }

        .none_boder_bottom{
            border-bottom: none !important;
        }

        .ta_content{
            margin: 10px 0px 10px 0px;
        }
    </style>
</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-2">
            <div th:replace="themes/default/home/menu::menu"></div>
        </div>
        <div class="col-sm-10">
            <div class="div_member_title">
                <div id="div_navbar" style="margin-top: 10px">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 20px;color: #999999; "></i>
                        </li>
                        <li class="div_navbar_item"><a href="#">个人中心</a></li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 20px;color: #999999; "></i>
                        </li>
                        <li class="div_navbar_item"><a href="/home/appeal">我的申诉</a></li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 20px;color: #999999; "></i>
                        </li>
                        <li class="div_navbar_item"><a href="#">申诉详情</a></li>
                    </ul>
                </div>
            </div>
            <div id="div_appeal_content">
                <div class="tab-content">
                    <div class="tab-pane active" id="div_tab_info">
                        <table id="table_content_info">
                            <tr>
                                <td>申诉主题：</td>
                                <td>
                                    <th:block th:text="${appeal.getTitle()}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>申诉项目：</td>
                                <td>
                                    <th:block th:text="${appeal.getProjectName()}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>申诉合同：</td>
                                <td>
                                    <th:block th:text="${appeal.getContractName()}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>申诉类型：</td>
                                <td>
                                    <th:block th:text="${appeal.getMethod()}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>申述状态：</td>
                                <td>
                                    <th:block th:text="${appeal.getStatusText()}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>发起时间：</td>
                                <td>
                                    <th:block th:text="${appeal.getCreateTime()}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="none_boder_bottom">申诉内容：</td>
                                <td class="none_boder_bottom">
                                    <textarea readonly="readonly" id="taContent" class="form-control no_border_radius"
                                              style="margin-top: 10px;margin-bottom: 10px; width: 250px"
                                              rows="5">
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                        <hr/>
                        <span style="margin-left: 20px">申诉进度：</span>
                        <table id="table_personal_info">
                            <tr>
                                <td>标题</td>
                                <td>时间</td>
                                <td>操作人</td>
                                <td>内容</td>
                            </tr>
                            <tr v-for="item in items" v-cloak>
                                <td style="padding-right: 15px;">{{item.title}}</td>
                                <td>{{item.createTime}}</td>
                                <td>{{item.memberName==null?item.userName:item.memberName}}</td>
                                <td><a :onclick="'javascript:f_showDetail('+item.id+')'">点击查看</a></button></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="none_boder_bottom">
                                    <textarea th:if="${appeal.getStatus()<3}" id="textarea_apply" class="form-control ta_content" rows="6"></textarea>
                                    <button th:if="${appeal.getStatus()<3}" class="btn btn-info" v-on:click="add()">提交意见</button>
                                    <button th:if="${appeal.getStatus()<3}" class="btn btn-info" id="btn_cancel" onclick="f_withDraw()" style="margin-left: 20px;float: right">撤销申诉</button>
                                    <button th:if="${appeal.getStatus()<3}" class="btn btn-info" onclick="f_slove()" style="float: right;">已解决</button>
                                </td>
                            </tr>
                        </table>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="themes/default/footer::footer"></div>
<!--全局JS-->
<script th:src="@{/js/date.js}"></script>
<script th:src="@{/plugin/pagination/pagination.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var appealId =/*[[${appeal.getId()}]]*/;
    var appealContent =/*[[${appeal.getContent()}]]*/;
    $("#taContent").val(appealContent);
    var vueContent;


    $(document).ready(function () {
        f_GetProgress();
    })


    function f_GetProgress() {
        $.ajax({
            url: '/home/appeal/progress',
            data: {appealId: appealId},
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    vueContent = new Vue({
                        el: '#table_personal_info',
                        data: {
                            items: data.result
                        },
                        methods: {
                            add: function () {
                                var content = $("#textarea_apply").val();
                                $.ajax({
                                    url: '/home/appeal/addProgress',
                                    data: {appealId: appealId, content: content},
                                    type: 'post',
                                    dataType: 'json',
                                    success: function (data) {
                                        layer.alert(data.msg);
                                        if (data.code === 200) {
                                            $("#textarea_apply").val("");
                                            vueContent.items.push({
                                                title: content,
                                                createTime: f_GetCurrentTime(),
                                                id: data.result,
                                                memberName: memberInfo.memberName
                                            });
                                        }
                                    }
                                });
                            }
                        }
                    });
                }
            }
        });
    }

    function f_showDetail(pid) {
        for (var i = 0; i < vueContent.items.length; i++) {
            if (vueContent.items[i].id === pid) {
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['420px', '240px'], //宽高
                    content: vueContent.items[i].content
                });
                break;
            }
        }
    }

    function f_slove() {
        layer.confirm("确定将申诉状态设为已解决?",{title:"提示"},function(){
            loadShade = layer.load(1, {shade: [0.1,'#fff']});
            $.ajax({
                url: '/home/appeal/solve',
                data: {appealId: appealId},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    layer.close(loadShade);
                    if (data.code===200){
                        layer.alert(data.msg,function () {
                            window.location.reload();
                        });
                    }else{
                        layer.alert(data.msg);
                    }
                }
            });
        });
    }

    function f_withDraw() {
        layer.confirm("确定撤销申诉?",{title:"提示"},function () {
            loadShade = layer.load(1, {shade: [0.1,'#fff']});
            $.ajax({
                url: '/home/appeal/withdraw',
                data: {appealId: appealId},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    layer.close(loadShade);
                    if (data.code===200){
                        layer.alert(data.msg,function () {
                            window.location.reload();
                        });
                    }else{
                        layer.alert(data.msg);
                    }
                }
            });
        });
    }
    /*]]>*/
</script>
</body>
</html>