<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />

    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <style type="text/css">
        .table_member_content{
            width: 70%;
            text-align: left;
            margin-left: 120px;
            line-height: 50px;
        }
        .table_member_content td{
            border-bottom: 1px #ccc dashed;
        }

    </style>
</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-12">
            <div id="div_navbar" style="margin-top: 10px">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li>><a href="#">&gt;</a></li>
                    <li class="active"><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div th:replace="themes/default/home/menu::menu"></div>
        </div>
        <div class="col-sm-10">
            <div class="div_member_title">
                <p>捐赠申请详情</p>
                <hr/>
            </div>
            <table class="table_member_content">
                <tr><td>捐赠项目</td><td>孤寡老人助困基金项目</td></tr>
                <tr><td>捐赠金额</td><td>正在进行</td></tr>
                <tr><td>申请时间</td><td>2017-08-07 17:50</td></tr>
                <tr><td>状态</td><td>线下沟通中</td></tr>
                <tr><td>备注</td><td>为社会和谐贡献自己的力量</td></tr>
            </table>
            <div class="div_member_title">
                <p>捐赠申请进度</p>
                <hr/>
            </div>
            <table class="table_member_content">

                <tr><td>2017-10-08</td><td>提交捐赠申请</td></tr>

                <tr><td>2017-10-10</td><td>基金会审批通过</td></tr>

                <tr><td>2017-10-10</td><td>基金会与您沟通确认捐赠明细中</td></tr>

                <tr><td>2017-10-10</td><td>捐赠明细确认完毕</td></tr>

                <tr><td>2017-10-17</td><td>基金会制作合同中</td></tr>

                <tr><td>2017-10-18</td><td>合同制作完毕,已通过短信形式发送到您,待您签署合同 <a>点击下载合同</a></td></tr>

                <tr><td>2017-10-18</td><td>您提交了意见"对合同条款存在疑问,需要重新沟通"</td></tr>
                <tr>
                    <td colspan="2">
                        <textarea class="form-control" style="margin-top: 20px;width: 300px;height: 150px;">000</textarea>
                        <button class="btn btn-success">提交意见</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="themes/default/footer::footer"></div>
<!--全局JS-->
</body>
</html>