<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />

    <title>合同详情</title>
    <link rel="shortcut icon" href="image/favicon.jpg"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link th:href="@{/css/font-awesome.css?v=4.3.0}" rel="stylesheet"/>
    <style type="text/css">
        .table_member_content{
            width: 70%;
            text-align: left;
            margin-left: 120px;
            line-height: 50px;
        }
        .table_member_content td{
            border-bottom: 1px #ccc dashed;
        }

    </style>
</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-12">
            <div id="div_navbar" style="margin-top: 10px">
                <ul>
                    <li><a href="#">个人中心</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"
                           style="font-size: 20px;color: #999999; "></i></li>
                    <li class="active"><a href="#">合同详情</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div th:replace="themes/default/home/menu::menu"></div>
        </div>
        <div class="col-sm-10">
            <div class="div_member_title">
                <p>合同详情</p>
                <hr/>
            </div>
            <table class="table_member_content">
                <tr><td>合同名称</td><td><th:block th:text="${contract.getContractName()}"></th:block></td></tr>
                <tr><td>合同金额</td><td><th:block th:text="${contract.getContractAmount()>0?contract.getContractAmount()/100:0}"></th:block></td></tr>
                <tr><td>已捐金额</td><td><th:block th:text="${contract.getDonatedAmount()>0?contract.getDonatedAmount()/100:0}"></th:block></td></tr>
                <tr><td>合同周期</td><td><th:block th:text="${contract.getBeginTime()+' ~ '+contract.getEndTime()}"></th:block></td></tr>
                <tr><td>合同状态</td><td><th:block th:text="${contract.getStatus()}"></th:block></td></tr>
            </table>
            <div class="div_member_title">
                <p>合同捐赠详情</p>
                <hr/>
            </div>
            <table class="table_member_content" ID="table_donate_plan">
                <thead>
                <tr>
                    <td>账单名称</td>
                    <td>善款金额</td>
                    <td>捐赠截止日期</td>
                    <td>捐赠日期</td>
                    <td>捐赠状态</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tr v-for="item in items" v-cloak>
                    <td>{{item.title}}</td>
                    <td>{{item.amount>0?item.amount/100:0}}</td>
                    <td>{{item.deadLine}}</td>
                    <td>{{item.paymentDate==""?"尚未捐赠":item.paymentDate}}</td>
                    <td>{{item.statusText}}</td>
                    <td><a href="#">{{item.status==0?"捐赠":"账单"}}</a> </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="themes/default/footer::footer"></div>
<!--全局JS-->
<script th:src="@{/js/date.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var contractId=/*[[${contract.getId()}]]*/;

    $(document).ready(function () {
        f_GetDonatePlan();
    })

    function f_GetDonatePlan() {
        $.ajax({
            url:'/home/contract/payment',
            data:{contractId:contractId},
            type:'post',
            dataType:'json',
            success:function (data) {
                if(data.code===200){
                    new Vue({
                        el: '#table_donate_plan',
                        data: {
                            items: data.result
                        }
                    });
                }
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>