<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <title>合同详情</title>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link th:href="@{/css/font-awesome.css?v=4.3.0}" rel="stylesheet"/>
    <style type="text/css">
        .table_member_content {
            width: 70%;
            text-align: left;
            margin-left: 120px;
            margin-bottom: 50px;
            line-height: 50px;
        }

        .table_member_content td {
            border-bottom: 1px #ccc dashed;
        }

        * {
            font-family: 微软雅黑;
        }

        #div_recent img {
            float: left;
        }

        #div_project img {
            height: 40px;
            width: 40px;
            float: left;
        }

        .recommend_item a {
            color: #000000;
        }

        #ul_total input {
            border: 1px solid;
            width: 215px;
            font-size: 24px;
            color: #ffa701;
            text-align: right;
            padding-right: 5px;
        }

        #ul_total p {
            font-size: 15px;
        }

        #ul_total li {
            padding-top: 10px;
            padding-left: 20px;
        }

        #div_question p {
            margin-left: 15px;
            margin-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        /*去掉输入框中的加减符号*/
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }

        .donate_msg {
            font-family: 微软雅黑;
            margin: 38px;
            color: #403c3d;
            font-size: 14px;
            font-weight: 600;
            line-height: 63px;
        }

        .donate_msg span {
            font-family: 微软雅黑;
            color: #e4393c;
            font-size: 17px;
            font-weight: 600;
            line-height: 63px;
        }

        .code_time {
            font-family: 微软雅黑;
            margin: 38px;
            color: #403c3d;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: -16px;
        }

        button.close_qr {
            -webkit-appearance: none;
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0;
        }

        .close_qr {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #928080;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: 0.2;
        }

        .close_qr:hover {
            color: #000;
        }

        .fresh {
            position: absolute;
            left: 60px;
            top: 3px;
            z-index: -1;
        }

        #fushImage {
            height: auto;
            width: auto;
        }

        .code_lost {
            color: #272323;
            font-size: 10px;
            font-weight: 600;
        }


    </style>
</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-2">
            <div th:replace="themes/default/home/menu::menu"></div>
        </div>
        <div class="col-sm-10">
            <div class="div_member_title">
                <div id="div_navbar" style="margin-top: 10px">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="div_navbar_item"><a href="#">个人中心</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="div_navbar_item"><a href="/home/contract">我的合同</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="div_navbar_item"><a href="#">合同详情</a></li>
                    </ul>
                </div>
            </div>
            <table class="table_member_content">
                <tr>
                    <td>合同名称：</td>
                    <td>
                        <th:block th:text="${contract.getContractName()}"></th:block>
                    </td>
                </tr>
                <tr>
                    <td>合同金额：</td>
                    <td>
                        <th:block th:text="${contract.getContractAmount()}"></th:block>
                    </td>
                </tr>
                <tr>
                    <td>已捐金额：</td>
                    <td>
                        <th:block th:text="${contract.getDonatedAmount()}"></th:block>
                    </td>
                </tr>
                <tr>
                    <td>合同周期：</td>
                    <td>
                        <th:block th:text="${contract.getBeginTime()+' ~ '+contract.getEndTime()}"></th:block>
                    </td>
                </tr>
                <tr>
                    <td>合同状态：</td>
                    <td>
                        <th:block th:text="${contract.getStatusText()}"></th:block>
                    </td>
                </tr>
                <tr>
                    <td>合同内容：</td>
                    <td><a href="javascript:f_openContent()">点击查看</a></td>
                </tr>
            </table>
            <div class="div_member_title">
                <p>合同捐赠详情</p>
                <hr/>
            </div>
            <table class="table_member_content" ID="table_donate_plan">
                <thead class="table_title">
                <tr>
                    <td>账单名称</td>
                    <td>善款金额</td>
                    <td>捐赠截止日期</td>
                    <td>捐赠日期</td>
                    <td>捐赠状态</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tr v-for="item in items" v-cloak>
                    <td>{{item.title}}</td>
                    <td class="amount">{{item.amount}}</td>
                    <td>{{item.deadLine}}</td>
                    <td>{{item.paymentDate==""?"尚未捐赠":item.paymentDate}}</td>
                    <td>{{item.statusText}}</td>
                    <td><a v-on:click="f_openDoanteLayer(item.id,item.status)"
                           id="donate">{{item.status==0?"捐赠":"账单"}}</a></td>
                </tr>
            </table>
            <div class="col-sm-10 p_no_data" style="margin-bottom: 40px;">
                <div style="font-size: 18px;font-weight: 600;">
                    <img src="/image/face.png" style="width: 30px;height: 30px;margin-right: 10px;">暂时没有内容信息显示
                </div>
            </div>
        </div>
    </div>
</div>

<!--确认捐赠弹出层-->
<div class="model fade" id="div_cf_donate" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"
     aria-hidden="true" data-backdrop='static'>
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: 600px">
            <div class="model-header">
                <button type="button" class="close_qr">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;font-weight: 600;">
                    扫描二维码,向基金会捐赠
                </h4>
            </div>

            <div class="play">
                <div class="ordermsg" style="margin-bottom: -34px;border-bottom: 1px solid #e0dada;">


                    <span class="donate_msg" style="font-family: 微软雅黑;">捐赠单号为：<span id="orderNo"></span></span>
                    <span class="donate_msg orderMoney" style="margin-left: 60px;color:#847f7f">捐赠金额：&yen;<span
                            id="donateAmount" class="order_fund" style=""></span></span>
                </div>
                <div class="code_time">距离二维码过期还有<span id="waitingPayTimerText" class="time" style="color: red"></span>秒
                </div>
                <div class="model-body" style="text-align: center">

                    <div class="model-body code_img row" style="text-align: center">
                        <div class="col-sm-6">
                            <div>
                                <img id="qrCodeImageId" height="200" width="200"
                                     onerror="this.onerror=null;this.src='/image/error.jpg'"/>
                                <div class="fresh">
                                    <img id="fushImage" class="img-rounded panel-body" th:src="@{~/image/reflush.png}"/>
                                    <div class="code_lost">点击刷新</div>
                                </div>
                            </div>
                            <div><img id="CodeImage" th:src="@{~/image/wxsm.png}"/></div>
                        </div>
                        <div class="col-sm-6">
                            <img id="qr_logo" th:src="@{~/image/sm.jpg}" alt="hjaksfh"
                                 style="height:205px; width:265px;display: none;"/>
                            <div class="orderMoney" style="margin-top: 33px;">打开手机 <span
                                    style="color: red;">微信扫一扫</span>，扫描二维码
                            </div>
                        </div>
                    </div>

                    <!--<img th:src="@{/image/qr_code.png}" height="200" width="200"/></div>-->
                    <div class="model-footer" style="text-align: center">
                        使用微信扫码捐赠
                    </div>
                </div>
            </div>
            <!--支付成功-->
            <div class="play_success" style="display: none">
                <div class="model-header">
                    <h4 class="model-title" style="width: 100%;text-align: center;">
                        支付成功
                    </h4>
                    <div class="model-body" style="text-align: center">
                        <img th:src="@{~/image/play.png}" style="width: 200px;"/>
                    </div>
                </div>
                <div class="model-footer" style="text-align: center">
                    使用微信捐赠成功
                </div>
            </div>
        </div>
    </div>
</div>

<!--弹出表格-->
<table id="bill" class="table " style="display: none; ">
    <thead>
    <tr>
        <th>账单详情</th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th>账单名称</th>
        <th>捐款日期</th>
    </tr>
    </thead>
    <thead>
    <tr>
        <td>账单名称</td>
        <td>A+</td>
    </tr>
    <tr>
        <td>捐款项目</td>
        <td>A</td>
    </tr>
    <tr>
        <td>捐款金额</td>
        <td>A+</td>
    </tr>
    <tr>
        <td>捐款日期</td>
        <td>A+</td>
    </tr>
    </thead>
</table>


<div th:replace="themes/default/footer::footer"></div>
<!--全局JS-->
<script th:src="@{/js/date.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var contractId =/*[[${contract.getId()}]]*/;

    var paymentPlanId;
    var amount;

    $(document).ready(function () {
        f_GetDonatePlan();
    })

    $(".close_qr").click(function () {
        $("#div_cf_donate").model('hide');
        stopCount();
    })

    function f_GetDonatePlan() {
        $.ajax({
            url: '/home/contract/payment',
            data: {contractId: contractId},
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    paymentPlanId = data.result[0].id;
//                    alert(paymentPlanId);
                    new Vue({
                        el: '#table_donate_plan',
                        data: {
                            items: data.result
                        }
                    });
                    if (data.result.length === 0) {
                        $(".p_no_data").show();
                        $(".table_title").hide();
                    }
                }
            }
        });
    }

    function f_openContent() {
        layer.open({
            type: 2,
            title: '合同内容',
            shadeClose: true,
            shade: 0.6,
            area: ['1100px', '90%'],
            content: '/home/contract/content/' + contractId
        });
    }


    function f_openDoanteLayer(id, status) {
        if (status === 0) {
            $("#div_cf_donate").model('show');
            $.ajax({
                url: '/donate/donateContract',
                type: 'post',
                data: {
                    paymentPlanId: id
                },
                dataType: 'json',
                success:
                    function (data) {
                        if (data.code === 200) {
                            $("#qrCodeImageId").attr("src", data.result.qrCodeImageBase64);
                            $("#orderNo").html(data.result.orderNo);
                            amount = data.result.amount;
                            var length = amount.length;
                            amount = amount.substring(0, length - 2);
                            $("#donateAmount").html(amount);
                            checkPayStatusInterval = setInterval("checkPayStatus()", 3000);
                        }
                    }
            });
            var timer = 120;

            function Countdown() {
                if (timer >= 1) {
                    timer -= 1;
                    t = setTimeout(function () {
                        Countdown();
                    }, 1000);
                    $("#waitingPayTimerText").html(timer);
                } else {
                    $("#qrCodeImageId").attr("src", "");
                    $(".fresh").css("z-index", "3");
                    $(".code_time").html("二维码已经失效，请刷新！");
                }
            }

            Countdown();

        } else {
//            alert(0);
            $("#div_cf_donate").model('hide');
        }
    }

    //刷新二维码
    $(".fresh").click(function () {
        f_clear();
        $(".code_time").html("距离二维码过期还有<span id=\"waitingPayTimerText\" class=\"time\" style=\"color: red\"></span>秒");
        $(".fresh").css("z-index", "-1");
        $("#qrCodeImageId").removeClass("qrCodeImageId");
        $.ajax({
            url: '/donate/donateContract',
            type: 'post',
            data: {
//                    projectTypeId: projectTypeId,
//                    projectId: projectId,
//                    contractId:contractId
                paymentPlanId: paymentPlanId
            },
            dataType: 'json',
            success:
                function (data) {
                    if (data.code === 200) {
                        $("#qrCodeImageId").attr("src", data.result.qrCodeImageBase64);
                        $("#orderNo").html(data.result.orderNo);
                        amount = data.result.amount;
                        var length = amount.length;
                        amount = amount.substring(0, length - 2);
                        $("#donateAmount").html(amount);
                        checkPayStatusInterval = setInterval("checkPayStatus()", 3000);
                    }
                }
        });
        var timer = 120;

        function Countdown() {
            if (timer >= 1) {
                timer -= 1;
                t = setTimeout(function () {
                    Countdown();
                }, 1000);
                $("#waitingPayTimerText").html(timer);
            } else {
                $("#qrCodeImageId").attr("src", "");
                $(".fresh").css("z-index", "3");
                $(".code_time").html("二维码已经失效，请刷新！");
            }
        }

        Countdown();

    })

    //关闭函数
    function stopCount() {
        clearTimeout(t);
        clearInterval(checkPayStatusInterval);
    }

    //出现图片
    $(".code_img").mouseover(function () {
        $("#qr_logo").fadeIn(2000);
    })

    var autoCloseTimeout = 5;

    function autoCloseAfterPaid() {
        if (autoCloseTimeout > 1) {
            autoCloseTimeout -= 1;
            $("#autoCloseAfterPaidTimerText").html(autoCloseTimeout);
            $("#qrCodeImageId").attr("src", "");
        } else {
            alert(1);
            clearInterval(autoCloseAfterPaidInterval);
            alert(2);
            $(".close_qr").click();
            alert(3);
            window.location.reload();
            alert(4);
        }
    }

    //    function f_Donate() {
    //        if (donateType == 0) {
    //            var projectType = $("#sel_project_type").find("option:selected").text();
    //            var projectName = $("#sel_project").find("option:selected").text();
    //            if (projectType == "请选择项目类别") {
    //                layer.confirm('您还没有选择项目类别', {
    //                    btn: ['重新选择', '取消'] //按钮
    //                }, function () {
    //                    $("#div_qr_donate").model('show');
    //                    layer.closeAll('dialog');
    //                }, function () {
    //                    $("#div_qr_donate").model('hide');
    //                });
    ////                alert("你还没有选择项目");
    //            } else if (flag == 0) {
    //                layer.confirm('您还没有选择金额', {
    //                    btn: ['重新选择或输入', '取消'] //按钮
    //                }, function () {
    //                    $("#div_qr_donate").model('show');
    //                    layer.closeAll('dialog');
    //                }, function () {
    //                    $("#div_qr_donate").model('hide');
    //                });
    ////                alert("你还没有选择金额");
    //            } else {
    //                $("#div_cf_donate").model('show');
    //                var projectTypeId = $("#sel_project_type").val();
    //                var projectId = $("#sel_project").val();
    //                var amount = span_money * 100;
    ////                alert(span_money);
    //                $("#donateAmount").html(span_money);
    //                $.ajax({
    //                    url: '/donate/donate',
    //                    type: 'post',
    //                    data: {
    //                        projectTypeId: projectTypeId,
    //                        projectId: projectId,
    //                        amount: amount
    //                    },
    //                    dataType: 'json',
    //                    success:
    //                        function (data) {
    //                            if (data.code === 200) {
    //                                $("#qrCodeImageId").attr("src", data.result.qrCodeImageBase64);
    //                                $("#orderNo").html(data.result.orderNo);
    //                                checkPayStatusInterval = setInterval("checkPayStatus()", 3000);
    //                            }
    //                        }
    //                });
    //                var timer = 120;
    //
    //                function Countdown() {
    //                    if (timer >= 1) {
    //                        timer -= 1;
    //                        t = setTimeout(function () {
    //                            Countdown();
    //                        }, 1000);
    //                        $("#waitingPayTimerText").html(timer);
    //                    } else {
    //                        $("#qrCodeImageId").attr("src", "");
    //                        $(".fresh").css("z-index", "3");
    //                        $(".code_time").html("二维码已经失效，请刷新！");
    //                    }
    //                }
    //
    //                Countdown();
    //            }
    //        }
    //
    //    }

    function checkPayStatus() {
        var orderNo = $("#orderNo").html();
        $.ajax({
            url: '/wxpay/status',
            type: 'post',
            data: {
                orderNo: orderNo
            },
            dataType: 'json',
            success:
                function (data) {
                    if (data.code === 200) {
                        var returnCode = data.result.notify_return_code;
                        var resultCode = data.result.notify_result_code;
                        var errCodeDesc = data.result.notify_err_code_desc;
                        if (returnCode != undefined && resultCode != undefined && resultCode === "SUCCESS" && returnCode === "SUCCESS") {
                            $(".code_time").html("支付成功。<span id=\"autoCloseAfterPaidTimerText\" class=\"time\" style=\"color: red\">5</span>秒自动关闭。");
                            stopCount();
                            autoCloseAfterPaidInterval = setInterval("autoCloseAfterPaid()", 1000);
                        } else {
                            $(".code_time").html("<span class=\"notifyErrCodeDesc\" style=\"color: red\">errCodeDesc</span>");
                        }
                    }
                }
        });
    }

    //清空函数
    function f_clear() {
        $("#donateAmount").html("");
        $("#orderNo").html("");
    }

    //弹出账单
    layer.open({
        type: 1,
        title: false,
        area: ['800px', '300px'],
        closeBtn: 0,
        shadeClose: true,
        skin: 'yourclass',
        content: $("#bill")
    });


    /*]]>*/
</script>
</body>
</html>