<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <title>发起申诉</title>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link th:href="@{/css/style.css?v=3.0.0}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css?v=4.3.0}" rel="stylesheet"/>

    <style type="text/css">
        .table_member_content {
            width: 70%;
            text-align: left;
            margin-left: 120px;
            line-height: 50px;
            min-height: 450px;
        }

        .table_member_content td {
            border-bottom: 1px #ccc dashed;
        }

    </style>
</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-2">
            <div th:replace="themes/default/home/menu::menu"></div>
        </div>
        <div class="col-sm-10">
            <div class="div_member_title">
                <div id="div_navbar" style="margin-top: 10px;margin-bottom: 17px;">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="active"><a  href="#">个人中心</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="active"><a href="/home/project">我参与的项目</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="active"><a href="#">项目详情</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="active"><a href="#">发起申诉</a></li>
                    </ul>
                </div>
            </div>
            <table class="table_member_content">
                <tr>
                    <td>申诉主题：</td>
                    <td><input id="theme" type="text" class="form-control" style="width: 250px;height: 30px"/></td>
                </tr>
                <tr>
                    <td>申诉项目：</td>
                    <td><th:block th:text="${project.getProjectName()}"></th:block></td>
                </tr>
                <tr>
                    <td>申诉合同：</td>
                    <td><th:block th:text="${project.getContractName()}"></th:block></td>
                </tr>
                <tr>
                    <td>申诉类型：</td>
                    <td>
                        <select id="type" class="form-control" style="width: 250px;height: 32px">
                            <option>资金使用申诉</option>
                            <option>合同履约申诉</option>
                            <option>批资申诉</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>申诉内容：</td>
                    <td>
                        <textarea id="main" class="form-control" style="margin-top: 10px;margin-bottom: 10px; width: 250px"
                                  rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-info" style="margin-left: 200px" id="btn_submit">提交</button>
                    </td>
                </tr>
            </table>
        </div>
</div>
</div>
<div th:replace="themes/default/footer::footer"></div>
<!--全局JS-->
<script th:src="@{/js/date.js}"></script>
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js/bootstrap.min.js}"></script>
<script th:src="@{/plugin/layer/layer.js}"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var contractProjectId=/*[[${project.getId()}]]*/;
    var projectId=/*[[${project.getProjectId()}]]*/;
    $("#btn_submit").click(function(){
        var title= $("#theme").val();
        var method=$("#type").find("option:selected").text();
        var content=$("#main").val();
        $.ajax({
            url:'/home/appeal/add',
            data:{title:title,method:method,content:content,contractProjectId:contractProjectId,projectId:projectId},
            type:'post',
            dataType:'json',
            success:function(){
                    layer.alert("提交成功");
            }
        })
    })
    /*]]>*/
</script>
</body>
</html>