<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />

    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <style type="text/css">
        #div_content{
            width: 985px;
            height: 850px;
            border: 1px #eee solid;
            margin-left: 10px;
            padding-top: 30px;
            margin-bottom: 20px;
            text-align: center;
        }

        #div_avator{
            width: 250px;
            height: 300px;
            border-right: 1px #ccc dashed;
            text-align: center;
            float: left;
        }

        #div_content_info{
            width: 700px;
            float: left;
            padding-top: 20px;
        }

        #table_content_info{
            width: 70%;
            text-align: left;
            margin-left: 120px;
            line-height: 50px;
        }
        #table_content_info td{
            border-bottom: 1px #ccc dashed;
        }
        #table_content_info input{
            height: 25px;
            width: 220px;
        }
    </style>
</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-12">
            <div id="div_navbar" style="margin-top: 10px">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li>><a href="#">&gt;</a></li>
                    <li class="active"><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div th:replace="themes/default/home/menu::menu"></div>
        </div>
        <div class="col-sm-10">
            <div class="div_member_title">
                <p>编辑个人信息</p>
                <hr />
            </div>
            <div id="div_content">
                <div id="div_avator">
                    <img th:src="${config.getFileRoot()+member.getAvator()+'?x-oss-process=image/resize,m_lfit,h_200,w_200'}"/>
                    <br/>
                    <br/>
                    <button class="btn btn-info" onclick="f_uploadAvator()">更换头像</button>
                </div>
                <div id="div_content_info">
                    <table id="table_content_info">
                        <tr><td>手机号码</td><td><input type="text" readonly="readonly" id="ipt_mobile" th:value="${member.getMobile()}"/></td></tr>
                        <tr><td>真实姓名</td><td><input type="text" id="ipt_name" th:value="${member.getName()}"/></td></tr>
                        <tr><td>身份证号</td><td><input type="text" id="ipt_id_card" th:value="${member.getIdCard()}"/></td></tr>
                        <tr><td style="border: none">身份证</td>
                            <td style="border: none">
                                <span>正面</span><span style="margin-left: 95px">背面</span>
                            </td>
                        </tr>
                        <tr><td></td>
                            <td>
                                <img th:src="@{/image/id_card.png}" height="120" width="120" style="margin-bottom: 10px"/>
                                <img th:src="@{/image/id_card.png}" height="120" width="120" style="margin-bottom: 10px"/>
                            </td>
                        </tr>
                        <tr>
                            <td>性别</td>
                            <td>
                                <select class ="form-control" id="ipt_sex">
                                    <option value="0">请选择</option>
                                    <option value="1" th:selected="${member.getSex()==1}">男</option>
                                    <option value="2" th:selected="${member.getSex()==2}">女</option>
                                    <option value="3" th:selected="${member.getSex()==3}">保密</option>
                                </select>
                            </td>
                        </tr>
                        <tr><td>生日</td><td><input type="text" id="ipt_birthday" class="form-control" style="height: 34px;width: 100%" th:value="${member.getBirthday()!=null?(#dates.format(member.getBirthday(),'yyyy-MM-dd')):null}"/></td></tr>
                        <tr><td>曾参与的公益项目</td><td><textarea id="ipt_project" class="form-control" rows="5" style="margin: 10px 0px 10px 0px;"></textarea></td></tr>
                        <tr><td>个人说明</td><td><textarea id="ipt_summary" class="form-control" rows="5" style="margin: 10px 0px 10px 0px;"></textarea></td></tr>
                    </table>
                    <button class="btn btn-info btn_save" style="margin-top: 20px">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="themes/default/footer::footer"></div>
<!--全局JS-->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/plugin/laydate/laydate.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    laydate.render({
        elem: '#ipt_birthday',
        value:$("#ipt_birthday").val()
    });

    var memberProject= /*[[${member.getProject()}]]*/;
    var memberSummary= /*[[${member.getSummary()}]]*/;
    $("#ipt_project").val(memberProject);
    $("#ipt_summary").val(memberSummary);

    $(".btn_save").click(function () {
        var memberName=$("#ipt_name").val();
        var mobile=$("#ipt_mobile").val();
        var idCard=$("#ipt_id_card").val();
        var sex=$("#ipt_sex").val();
        var birthday=$("#ipt_birthday").val();
        var project=$("#ipt_project").val();
        var summary=$("#ipt_summary").val();

        $.ajax({
            url:'/home/member/submit',
            data:{name:memberName,mobile:mobile,idCard:idCard,sex:sex,birthday:birthday,project:project,summary:summary},
            type:'post',
            dataType:'json',
            success:function (data) {
                if (data.code===200){
                    layer.alert(data.msg,function () {
                        window.location.href = "/home";
                    });
                    setTimeout(function(){
                        window.location.href = "/home";
                    },3000);
                }else{
                    layer.alert(data.msg);
                }
            }
        });
    });

    function f_uploadAvator(){
        layer.open({
            type: 2,
            title: '上传头像',
            shadeClose: true,
            shade: 0.6,
            area: ['800px', '600px'],
            content: '/home/member/avator'
        });
    }
    /*]]>*/
</script>
</body>
</html>