<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title>编辑个人信息</title>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <style type="text/css">
        #div_content{
            width: 985px;
            height: 1100px;
            border: 1px #eee solid;
            margin-left: 10px;
            padding-top: 30px;
            margin-bottom: 20px;
            text-align: center;
        }

        #div_avator{
            width: 250px;
            height: 300px;
            border-right: 1px #ccc dashed;
            text-align: center;
            float: left;
        }

        #div_content_info{
            width: 700px;
            float: left;
            padding-top: 20px;
        }

        #table_content_info{
            width: 70%;
            text-align: left;
            margin-left: 120px;
            line-height: 50px;
        }
        #table_content_info td{
            border-bottom: 1px #ccc dashed;
            padding: 9px;
        }
        /*#table_content_info input{*/
            /*height: 25px;*/
            /*width: 220px;*/
        /*}*/
        .div_img{
            height: 120px;
            position: absolute;
        }
        .div_img input{
            float: left;
        }
        .input_img{
            opacity: 0;
            width: 120px !important;
            height: 120px !important;
            border: 1px solid;
            /*position: absolute;*/
        }
        .input_img2{
            opacity: 0;
            margin-left: 5px;
            /*position: absolute;*/
            /*left: 120px;*/
        }

        .error {
            color: red;
            display: none;
            margin-top: -7px;
            margin-right: 173px;
            margin-bottom: -10px;
        }

        .info_button {
            font-size: 14px;
            text-align: center;
            background-color: #fcfcfc;
            border-color: #f0f0f0;
            border-radius: 0px;
            border-style: solid;
            border-width: 1px;
            color: #00a0e9;
            min-width: 86px;
            height: 30px;
        }

    </style>
</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-2">
            <div th:replace="themes/default/home/menu::menu"></div>
        </div>
        <div class="col-sm-10">
            <div class="div_member_title">
                <div id="div_navbar" style="margin-top: 10px;margin-bottom: 17px;">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="div_navbar_item"><a href="#">个人中心</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="div_navbar_item"><a href="/home">我的信息</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"
                               style="font-size: 20px;color: #999999; "></i></li>
                        <li class="div_navbar_item"><a href="#">编辑个人信息</a></li>
                    </ul>
                </div>
            </div>
            <div id="div_content">
                <div id="div_avator">
                    <img id="img_avator" th:src="${config.getFileRoot()+member.getAvator()+'?x-oss-process=image/resize,m_lfit,h_200,w_200'}"/>
                    <br/>
                    <br/>
                    <button class="btn btn-info" onclick="f_uploadAvator()">更换头像</button>
                </div>
                <div id="div_content_info">
                    <form id="defaultForm_2" method="post" class="form-horizontal">
                        <table id="table_content_info">
                            <tr>
                                <td>真实姓名：</td>
                                <td>
                                    <input type="text" id="ipt_name" class="form-control no_border_radius" name="ipt_name"
                                           th:value="${member.getName()}"/>
                                    <!--<div class="name_error error">真实姓名不能为空</div>-->
                                    <div class="name_error_0 error">真实姓名格式错误</div>
                                </td>
                            </tr>
                            <tr>
                                <td>手机号码：</td>
                                <td>
                                    <th:block th:text="${member.getMobile()}"></th:block>
                                </td>
                            </tr>
                            <tr>
                                <td>身份证号：</td>
                                <td>
                                    <input type="text" id="ipt_id_card" class="form-control no_border_radius" name="ipt_id_card"
                                           th:value="${member.getIdCard()}"/>
                                    <!--<div class="id_card_error error" style="margin-right: 210px;">身份证号不能为空</div>-->
                                    <div class="id_card_error_0 error" style="margin-right: 193px;">身份证号格式错误</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none">身份证：</td>
                                <td style="border: none">
                                    <span>正面</span><span style="margin-left: 95px">背面</span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="div_img">
                                        <input type="file" id="ipt_f" class="input_img" onchange="f_preImg(this.id,'img_f')" accept="image/png,image/jpeg"/>
                                        <input type="file" id="ipf_b" class="input_img input_img2" onchange="f_preImg(this.id,'img_b')" accept="image/png,image/jpeg"/>
                                    </div>
                                    <img id="img_f"
                                         th:src="${config.getFileRoot()+(member.getIdCardFront()==null?'image/idcard/id_card.png':member.getIdCardFront())+'?x-oss-process=image/resize,m_lfit,h_120,w_120'}"
                                         height="120" width="120" style="margin-bottom: 10px"/>
                                    <img id="img_b"
                                         th:src="${config.getFileRoot()+(member.getIdCardBack()==null?'image/idcard/id_card.png':member.getIdCardBack())+'?x-oss-process=image/resize,m_lfit,h_120,w_120'}"
                                         height="120" width="120" style="margin-bottom: 10px"/>
                                    <p>请选择身份证照片,单张图片照片过2M</p>
                                </td>
                            </tr>
                            <tr>
                                <td>性别：</td>
                                <td>
                                    <select class="form-control no_border_radius" id="ipt_sex">
                                        <option value="0">请选择</option>
                                        <option value="1" th:selected="${member.getSex()==1}">男</option>
                                        <option value="2" th:selected="${member.getSex()==2}">女</option>
                                        <option value="3" th:selected="${member.getSex()==3}">保密</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>生日：</td>
                                <td><input type="text" id="ipt_birthday" class="form-control no_border_radius" style="height: 34px;width: 100%" th:value="${member.getBirthday()!=null?(#dates.format(member.getBirthday(),'yyyy-MM-dd')):null}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>曾参与的公益项目：</td>
                                <td><textarea id="ipt_project" class="form-control no_border_radius" rows="5" style="margin: 10px 0px 10px 0px;"></textarea></td>
                            </tr>
                            <tr>
                                <td>个人说明：</td>
                                <td><textarea id="ipt_summary" class="form-control no_border_radius" rows="5" style="margin: 10px 0px 10px 0px;"></textarea></td>
                            </tr>
                        </table>
                    </form>
                    <button class="btn btn-info btn_save" style="margin-top: 20px">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="themes/default/footer::footer"></div>
<!--全局JS-->
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/plugin/laydate/laydate.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    laydate.render({
        elem: '#ipt_birthday',
        value:$("#ipt_birthday").val()
    });

    var memberProject= /*[[${member.getProject()}]]*/;
    var memberSummary= /*[[${member.getSummary()}]]*/;
    $("#ipt_project").val(memberProject);
    $("#ipt_summary").val(memberSummary);
    var fileSize=2*1024*1024;

    var imgB="";
    var imgF="";

    function f_getFileUrl(sourceId) {
        var url;

        if ($("#" + sourceId).prop('files')[0].size > fileSize) {
            layer.alert("请选择2M以内的图片");
            url = ""
        }else {
            if (navigator.userAgent.indexOf("MSIE") >= 1) {
                // IE
                url = $('#' + sourceId).val();
            } else {
                //其他浏览器
                url = window.URL.createObjectURL($("#" + sourceId).prop('files')[0]);
            }
        }
        return url;
    }

    /**
     * 图片预览
     */
    function f_preImg(sourceId, targetId) {
        var url = f_getFileUrl(sourceId);
        if(url!=""){
            f_readAsDataURL(sourceId);
            $('#'+targetId).attr("src",url);
        }
    }


    //手机号码
//    $("#ipt_mobile").blur(function () {
//        var mobile =  /^1[3|4|5|7|8][0-9]{9}$/;
//        if (!mobile.test($("#ipt_mobile").val())) {
//            $(".mobile_error").show();
//        } else {
//            $(".mobile_error").hide();
//        }
//    })

    //身份证号
    $("#ipt_id_card").blur(function () {
//        现在公民身份证都是18位，15位身份证号码已失效
//        var id_card = /(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
//        if ($("#ipt_id_card").val() == "") {
//            $(".id_card_error_0").hide();
//            $(".id_card_error").show();
//        } else {
//            $(".id_card_error").hide();
            if (!f_idcardValidate($("#ipt_id_card").val())) {
                $(".id_card_error_0").show();
            } else {
                $(".id_card_error_0").hide();
            }
//        }
    })

    //真实姓名，规定2个汉字以上，6个汉字以下
    $("#ipt_name").blur(function () {
//        var name =  /^[\u4E00-\u9FA5]{2,6}$/;
//        if ($("#ipt_name").val() == "") {
//            $(".name_error").show();
//        } else {
//            $(".name_error").hide();
//        }
//        if (!name.test($("#ipt_name").val())) {
//            $(".name_error_0").show();
//        } else {
//            $(".name_error_0").hide();
//        }

        if(!f_nameValidate($("#ipt_name").val())){
            $(".name_error_0").show();
        }else {
            $(".name_error_0").hide();
        }
    })


    $(".btn_save").click(function () {
        loadShade = layer.load(1, {
            shade: [0.1,'#fff']
        });
        var memberName = $("#ipt_name").val();
        var mobile = $("#ipt_mobile").val();
        var idCard = $("#ipt_id_card").val();
        var sex = $("#ipt_sex").val();
        var birthday = $("#ipt_birthday").val();
        var project = $("#ipt_project").val();
        var summary = $("#ipt_summary").val();

        $.ajax({
            url: '/home/member/submit',
            data: {
                name: memberName,
                mobile: mobile,
                idCard: idCard,
                sex: sex,
                birthday: birthday,
                project: project,
                summary: summary,
                idCardFront: imgF,
                idCardBack: imgB
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                layer.close(loadShade);
                if (data.code === 200) {
                    layer.alert(data.msg, function () {
                        window.location.href = "/home";
                    });
                    setTimeout(function(){
                        window.location.href = "/home";
                    },3000);
                }else{
                    layer.alert(data.msg);
                }
            }
        });
    });

    function f_readAsDataURL(item){
        //检验是否为图像文件
        var file = $("#"+item).prop('files')[0];
        if(!/image\/\w+/.test(file.type)){
            return "";
        }
        var reader = new FileReader();
        //将文件以Data URL形式读入页面
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            if (item==="ipt_f"){
                imgF=this.result;
            }else{
                imgB=this.result;
            }
        }
    }

    function f_uploadAvator(){
        layer.open({
            type: 2,
            title: '上传头像',
            shadeClose: true,
            shade: 0.6,
            area: ['800px', '600px'],
            content: '/home/member/avator'
        });
    }

    function f_refreshImg(avatorName) {
        $("#img_avator").attr("src", fileRoot+avatorName+'?x-oss-process=image/resize,m_lfit,h_200,w_200+&r='+Math.random()*4);
    }
    /*]]>*/
</script>
</body>
</html>