<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />

    <title>project_detail</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />

    <style type="text/css">

        .div_member_title p{
            width: 100%;
        }

        .div_member_title button{
            float: right;
            margin-top: -8px;
        }

        #div_project_content{
            margin-left: 20px;
            border: 1px solid #ddd;
            border-top: none;
        }

        #table_content_info{
            width: 70%;
            text-align: left;
            margin-left: 120px;
            line-height: 50px;
        }
        #table_content_info td{
            border-bottom: 1px #ccc dashed;
        }
        #ul_tab{
            margin-left: 20px;
            margin-top: 20px;
        }
        #table_personal_info{
            width: 70%;
            text-align: left;
            line-height: 35px;
            margin-left: 120px;
        }
        #table_personal_info td{
            border-bottom: 1px #ccc dashed;
        }
        #table_doc{
            width: 70%;
            text-align: left;
            line-height: 35px;
            margin-left: 120px;
            margin-bottom: 30px;
        }
        #table_doc{
            width: 70%;
            text-align: left;
            line-height: 35px;
            margin-left: 120px;
            margin-bottom: 30px;
        }
        #table_doc td{
            width: 250px;
        }
    </style>
</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-12">
            <div id="div_navbar" style="margin-top: 10px">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li>><a href="#">&gt;</a></li>
                    <li class="active"><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div th:replace="themes/default/home/menu::menu"></div>
        </div>
        <div class="col-sm-10">
            <ul class="nav nav-tabs" id="ul_tab">
                <li class="active"><a href="#" data-target="#div_tab_info" data-toggle="tab">参与情况</a></li>
                <li><a href="#" data-target="#div_tab_detail" data-toggle="tab">项目详情</a></li>
                <li><a href="#" data-target="#div_tab_public" data-toggle="tab">善款公开</a></li>
            </ul>

            <div id="div_project_content">
                <div class="tab-content">
                    <div class="tab-pane active" id="div_tab_info">
                        <table id="table_content_info">
                            <tr><td>合同金额</td><td>80000</td></tr>
                            <tr><td>合同状态</td><td>正在进行</td></tr>
                            <tr><td>待捐赠金额</td><td>20000</td></tr>
                            <tr><td>合同周期</td><td>2017-08-07 ~ 2017-12-06</td></tr>
                            <tr><td>下次捐赠日期</td><td>2017-08-20</td></tr>
                        </table>
                        <hr/>
                        <span style="margin-left: 20px">我的参与记录</span>
                        <table id="table_personal_info">
                            <tr><td>2017-10-26</td><td>批资</td></tr>
                            <tr><td>2017-10-21</td><td>基金会确认善款到账</td></tr>
                            <tr><td>2017-10-20</td><td>支付善款5000.00</td></tr>
                            <tr><td>2017-10-18</td><td>捐赠合同签订</td></tr>
                            <tr><td>2017-10-17</td><td>接受捐赠合同</td></tr>
                            <tr><td>2017-10-10</td><td>基金会审批通过</td></tr>
                            <tr><td>2017-10-08</td><td>提交捐赠申请</td></tr>
                        </table>
                        <hr/>
                        <span style="margin-left: 20px">文档附件</span>
                        <table id="table_doc">
                            <tr><td>&lt;捐赠合同&gt;</td><td>2017-08-10</td><td><a href="#">下载</a> </td></tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="div_tab_detail">
                        <p style="margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            从2011到今年，我们在全国22个省区已经建成了3800多所春苗营养厨房，190万贫困地区的孩子吃上了香喷喷的营养餐。”采访中，彭翔提到春苗营养计划，自豪之情溢于言表。
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            2008年中国公益元年以来，中国慈善事业虽然得到了长足的发展，但在中国改革中起到的作用还很有限，她清醒地认识到：“中国还是大政府小社会，公益组织还不完全独立，对于社会发展，公益虽然起着温和的改良者的角色，但这个角色承担的还不到位。”
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            彭翔也特别提到，由于跨界不足和专业人才的缺乏，公益似乎走到了一个瓶颈。她表示，如何可持续发展是她目前面临的最大困惑和挑战。在她看来，公益机构应该具备自我造血能力，而不能仅靠不断地筹款和募捐来生存。她说，“公益要发展，一定要做增量，而不是只知道在现有的盘子里抢资源。”
                        </p>
                        <p class="f_center" style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: center; white-space: normal; background-color: rgb(255, 255, 255);">
                            <img alt="安利基金会秘书长彭翔：公益要做增量" src="http://img4.cache.netease.com/gongyi/2015/12/17/20151217124936a11d8.jpg"/><br/>
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            <strong>“公益人的特色就是充满阳光”</strong>
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            善达网：是什么机缘让你进入了公益行业？是自己主动选择，还是机缘巧合？那时的你对慈善和公益是怎样的一种认识？
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            彭&nbsp; 翔：来安利公益基金会之前，我一直在环保机构工作。更早以前，我是在当时的国内贸易部（现在商务部前身），之后又在一些企业的CSR部门做管理。
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            说到做公益，有一个特别巧合的机缘。1999年的时候，我国北方的很多地方沙尘暴特别严重。当时我就想，能不能做一张“中华绿色版图”，把沙漠化地区、森林覆盖区等都标注在这张地图上，直观地告诉大家绿化及环保的重要性？但当时，我不太知道公益是什么，只是觉得沙尘暴那么厉害，总要做点什么。
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            因为个人做事不太容易，需要与合适的机构或组织进行合作。找了一段时间后，就开始与中华环境保护基金会合作，做中华绿色版图工程，这也是首张反映我国生态现状的环保教育地图。这也开启了我投身公益的历程，直到现在。
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            善达网：现在回头来看，当时的公益环境是怎样的？
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            彭&nbsp; 翔：个人感受比较深的是，从1999年到2005年，公益尤其是环保理念在企业、公众心目中的地位提升发展特别快。
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            1999年，刚启动中华绿色版图工程项目，去找资助企业谈的时候，大家基本上不太明白你想做什么，也就很难支持到你。那段时间项目运作很困难。
                        </p>
                        <p style="margin-top: 32px; margin-bottom: 0px; padding: 0px; font-size: 18px; text-indent: 2em; font-stretch: normal; line-height: 32px; font-family: &quot;Microsoft Yahei&quot;; color: rgb(64, 64, 64); text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                            2003年后，不知道是哪个节点“出了问题”，公众的环保意识突然就有了很大的提升。很多老百姓开始关注环保，一些企业也开始倡导企业社会责任。这种情况下，中华绿色版图工程项目就开始得到更多公众和企业的支持和参与。项目很顺利地就做起来了。
                        </p>
                        <p>
                            <br/>
                        </p>
                    </div>
                    <div class="tab-pane" id="div_tab_public">
                        00001111
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="themes/default/footer::footer"></div>
<!--全局JS-->
<script th:src="@{/js/date.js}"></script>
</body>
</html>