<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="details">

<body>
<div class="section1">
    <div class="section_container1">
        <div class="items"
             style="background:url(http://1707030217.site.make.yun300.cn/repository/image/CIy0kjj4RvGAQy51lqzh5A.jpg?t=1500976145992)">
            <div class="item0">爱心捐赠 系统建设中...</div>
            <div class="item1">我要捐赠</div>
            <div class="item2">我的捐赠</div>
        </div>
        <div class="secion_main1">
            &nbsp;&nbsp;&nbsp;“弘扬中华传统美德和优秀慈善文化，致力慈善产业化，产业为慈善，回报大社会，扶持慈善产业，扶危济困，奉献爱心，促进社会和谐”的宗旨
        </div>
    </div>
</div>

</body>
</html>