<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrapValidator.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container-fluid div-shadown-3-5" id="div_header">
    <div class="center-block" style="width: 1200px;">
        <div class="row">
            <div class="col-sm-5">
                <div class="ibox float-e-margins">
                    我们将认真对待每一笔捐赠，将您的爱心传递到每一位需要帮助的人手中。
                </div>
            </div>
            <div class="col-sm-7" style="float: right;">
                <ul class="ul_login" id="ul_login" style="margin-top: 0;margin-bottom: 0;">
                    <li>您好,欢迎参与世纪爱心慈善</li>
                    <li></li>
                    <!--<li><a th:href="@{/login}">登录</a></li>-->
                    <li><a class="login" style="cursor: pointer;" data-toggle="model" data-target="#myModal"
                           data-dismiss="model" onclick="f_showCode()">登录</a></li>
                    <li>|</li>
                    <li><a th:href="@{/register}">注册</a></li>
                </ul>
                <ul class="ul_login" id="ul_logined" style="display: none; margin-top: 0;margin-bottom: 0;">
                    <li></li>
                    <li></li>
                    <li><a th:href="@{/home/message}">消息(<a id="message" th:href="@{/home/message}"></a>)</a></li>
                    <li>|</li>
                    <li><a th:href="@{/home}">个人中心</a></li>
                    <li>|</li>
                    <li><a href="javascript:f_logout()">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="center-block" style="width: 1200px; height: 150px;">
    <div class="row">
        <div class="col-sm-12">
            <img id="img_logo" th:src="@{~/image/logo/1200x280.gif}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-top: -10px;">
            <div id="div_main_menu">
                <ul id="ul_menu">
                    <li class="li_meun"><a th:href="@{~/index}">首页</a></li>
                    <!--<li class="li_meun"><a href="http://www.sjaxjjh.com/">首页</a></li>-->
                    <li class="li_split"></li>
                    <li class="li_meun"><a href="http://www.sjaxjjh.com/nav/9.html">关于我们</a></li>
                    <li class="li_split"></li>
                    <li class="li_meun"><a th:href="@{~/project}">慈善项目</a></li>
                    <li class="li_split"></li>
                    <li class="li_meun"><a th:href="@{~/publicity}">信息公开</a></li>
                    <li class="li_split"></li>
                    <li class="li_meun"><a href="http://www.sjaxjjh.com/nav/12.html">我们在行动</a></li>
                    <li class="li_split"></li>
                    <li class="li_meun"><a href="http://www.sjaxjjh.com/nav/13.html">活动纪实</a></li>
                    <li class="li_split"></li>
                    <li class="li_meun"><a href="http://www.sjaxjjh.com/nav/14.html">法律法规</a></li>
                    <li class="li_split"></li>
                    <li class="li_meun"><a href="http://www.sjaxjjh.com/nav/15.html">捐献指南</a></li>
                    <li class="li_split"></li>
                    <li class="li_meun"><a href="http://www.sjaxjjh.com/nav/16.html">秘书长邮箱</a></li>
                    <li class="li_split"></li>
                    <li class="li_meun"><a href="http://www.sjaxjjh.com/nav/17.html">手机APP</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--登陆弹出层-->
<div class="model fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: auto">
            <div class="model-header">
                <button type="button" class="close" data-dismiss="model" aria-hidden="true">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;">
                    登录
                </h4>
            </div>
            <div class="model-body" style="text-align: center">
                <form id="defaultForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">手机号码：</label>
                        <div class="col-lg-6">
                            <input type="text" id="phone" class="form-control" name="phone" placeholder="请输入手机号码"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">登录密码：</label>
                        <div class="col-lg-6">
                            <input type="password" id="pw" class="form-control" name="pw" placeholder="请输入密码"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">验证码：</label>
                        <div class="col-lg-3">
                            <input type="text" id="code" class="form-control" name="code" placeholder="验证码"/>
                        </div>
                        <img class="verify_code col-lg-3 login_code" src="" height="30" width="90"/>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-5 col-lg-offset-4">
                            <input type="checkbox" id="ipt_cookie" class="col-lg-offset-3"/>下次自动登录
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-4 col-lg-offset-4">
                            <button type="button" id="btn_login" class="btn btn-primary btn-block">登录</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-6">
                            <span><a href="javascript:f_loginMode()">授号登陆</a></span>
                            <span>|</span>
                            <span><a th:href="@{/forget}">忘记密码</a></span>
                            <span>|</span>
                            <span><a th:href="@{/register}">注册新账号</a></span>
                        </div>
                    </div>
                </form>
                <form id="form_accepter" style="display: none" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">授号：</label>
                        <div class="col-lg-6">
                            <input type="text" id="ipt_no" class="form-control" name="ipt_no" placeholder="请输入授号"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">登录密码：</label>
                        <div class="col-lg-6">
                            <input type="password" id="ipt_pwd" class="form-control" name="ipt_pwd" placeholder="请输入密码"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">验证码：</label>
                        <div class="col-lg-3">
                            <input type="text" id="ipt_code" class="form-control" name="ipt_code" placeholder="验证码"/>
                        </div>
                        <img class="verify_code col-lg-3 login_code" src="" height="30" width="90"/>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-5 col-lg-offset-4">
                            <input type="checkbox" id="ipt_ac_cookie" class="col-lg-offset-3"/>下次自动登录
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-4 col-lg-offset-4">
                            <button type="button" id="btn_ac_login" class="btn btn-primary btn-block">登录</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-6">
                            <span><a href="javascript:f_loginMode()">会员登陆</a></span>
                            <span>|</span>
                            <span><a th:href="@{/forget}">忘记密码</a></span>
                            <span>|</span>
                            <span><a th:href="@{/register}">注册新账号</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrapValidator.js}"></script>
<script th:src="@{/plugin/vue/vue.min.js}"></script>
<script th:src="@{/plugin/layer/layer.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var fileRoot =/*[[${config.getFileRoot()}]]*/;
    var memberInfo =/*[[${session.member==null?null:session.member}]]*/;

    $(document).ready(function () {
        f_autoLogin();
        $('#defaultForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                phone: {
                    message: 'The phone is not valid',
                    validators: {
                        notEmpty: {
                            message: '手机号码不能为空'
                        },
                        regexp: {
                            regexp: /1[34578]\d{9}$/,
                            message: '手机号格式错误'
                        }
                    }
                },
                pw: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                },
                code: {
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 4,
                            message: '验证码格式不正确'
                        }
                    }
                }

            }
        });

        $('#btn_ac_login').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                ipt_no: {
                    message: 'The phone is not valid',
                    validators: {
                        notEmpty: {
                            message: '手机号码不能为空'
                        },
                        regexp: {
                            regexp: /1[34578]\d{9}$/,
                            message: '手机号格式错误'
                        }
                    }
                },
                ipt_pwd: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                },
                ipt_code: {
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 4,
                            message: '验证码格式不正确'
                        }
                    }
                }
            }
        });

        $("#btn_login").click(function () {
            var bv = $('#defaultForm').data('bootstrapValidator');
            bv.validate();
            if (bv.isValid()) {
                var mobile = $("#phone").val();
                var pwd = $("#pw").val();
                var code = $("#code").val();
                var autoLogin = $("#ipt_cookie").is(':checked');
                $.ajax({
                    url: "/login/submit",
                    data: {mobile: mobile, code: code, pwd: pwd, autoLogin: autoLogin},
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === 407) {
                            window.location.href = "/home";
                        } else {
                            layer.alert(data.msg);
                        }
                    }
                });
            }
        });

        $("#btn_ac_login").click(function () {
//            var av = $('#form_accepter').data('bootstrapValidator');
//            av.validate();
//            if (av.isValid()) {
                var authCode = $("#ipt_no").val();
                var pwd = $("#ipt_pwd").val();
                var code = $("#ipt_code").val();
                var autoLogin = $("#ipt_ac_cookie").is(':checked');
                $.ajax({
                    url: "/login/acLogin",
                    data: {authCode: authCode, code: code, pwd: pwd, autoLogin: autoLogin},
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === 200) {
                            window.location.href = "/home";
                        } else {
                            layer.alert(data.msg);
                        }
                    }
                });
//            }
        });

    });

    $(".login_code").click(function () {
        $(this).attr("src", "/Verify/code.jpg?t=" + Math.random());
    });

    function f_showCode(){
        $(".login_code").attr("src", "/Verify/code.jpg?t=" + Math.random());
    }

    function f_autoLogin() {
        if (memberInfo != null) {
            f_getMemberNum();
            $("#ul_login").hide();
            $("#ul_logined").show();
            $("#ul_logined").children().first().html((memberInfo.memberName == "" ? memberInfo.mobile : memberInfo.memberName) + ",欢迎参与世纪爱心慈善");
        } else {
            var userCookie = getCookie("member");
            if (userCookie != null) {
                $.ajax({
                    url: '/login/autoLogin',
                    type: 'post',
                    data: {memberId: userCookie.split('|')[0], cookie: userCookie.split('|')[1]},
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === 200) {
                            memberInfo = data.result;
                            $("#ul_login").hide();
                            $("#ul_logined").show();
                            $("#ul_logined").children().first(2).html((memberInfo.memberName == "" ? memberInfo.mobile : memberInfo.memberName) + ",欢迎参与世纪爱心慈善");
                            f_getMemberNum();
                        }
                    }
                });
            }
        }
    }

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg)) {
            return unescape(arr[2]);
        }
        else {
            return null;
        }
    }

    function f_logout() {
        if (memberInfo != null) {
            $.ajax({
                url: '/login/logout',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.code === 200) {
                        window.location.href = "/";
                    } else {
                        layer.alert(data.msg);
                    }
                }
            });
        }
    }

    function f_getMemberNum() {
        $.ajax({
            url: '/home/message/number',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                $("#message").html(data.result);
            }
        });
    }

    function f_loginMode() {
        if($("#defaultForm").is(":hidden")){
            $("#form_accepter").slideUp();
            $("#defaultForm").slideDown();
        }else{
            $("#defaultForm").slideUp();
            $("#form_accepter").slideDown();
        }
    }
    /*]]>*/
</script>
</body>
</html>