<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <title>广东省世纪爱心慈善基金会</title>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}"/>
    <link th:href="@{/plugin/banner/css.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/font-awesome.css?v=4.3.0}" rel="stylesheet"/>

    <!--<link th:href="@{/css/index/index.css}" rel="stylesheet" type="text/css"/>-->

    <style type="text/css">
        * {
            font-family: 微软雅黑;
        }

        #div_total {
            height: 400px;
            margin-top: 10px;
            border: 1px #e9e9e9 solid;
        }

        #ul_total {
            list-style: none;
        }

        .left_item {
            width: 900px;
        }

        .div_project {
            height: 145px;
            margin-top: 15px;
            margin-bottom: 30px;
        }

        .hr_10 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .right_panel {
            margin-top: 10px;
            border: 1px #e9e9e9 solid;
        }

        #div_recent {
            height: 402px;
        }

        #div_recent img {
            float: left;
        }

        #div_project {
            height: 349px;
        }

        #div_project img {
            height: 40px;
            width: 40px;
            float: left;
        }

        #div_question {
            height: 200px;
        }

        .recommend_item {
            height: 40px;
            padding-bottom: 45px;
            padding-top: 7px;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 40px;
            margin-bottom: 0px;
            border-bottom: 1px solid #E4E4E4;
        }

        .recommend_item a {
            color: #000000;
        }

        .recommend_item:hover {
            background-color: #EFF8F8;
        }

        .recommend_item_word {
            padding-left: 45px;
        }

        .recommend_item_info {
            padding-left: 10px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 220px;
            height: 20px;
            line-height: 20px;
            font-size: 15px;
            /*overflow: hidden;*/
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: normal;
        }

        #ul_total input {
            border: 1px solid;
            width: 215px;
            font-size: 24px;
            color: #ffa701;
            text-align: right;
            padding-right: 5px;
        }

        #ul_total p {
            font-size: 15px;
        }

        #ul_total li {
            padding-top: 10px;
            padding-left: 20px;
        }

        #div_question p {
            margin-left: 15px;
            margin-top: 10px;
        }

        #other {
            margin: 2px;
            padding: 2px;
            margin-top: 20px;
            border: 2px #d0c4c4 solid;
        }

        #other_2 {
            margin: 2px;
            padding: 4px;
            margin-top: 20px;
            border: 2px #d0c4c4 solid;
        }

        .ipt_money {
            outline: none;
            border: none;
            text-align: right;
            width: 150px
        }

        .item_time {
            float: right;
            color: #969696;
            font-size: 12px;
        }

        .projectName {
            margin-left: 15px;
        }

        .item_projectName {
            color: #000000;
            font-size: 14px;
        }

        .info_button {
            font-size: 12px;
            text-align: center;
            background-color: #fcfcfc;
            border-color: #f0f0f0;
            border-radius: 0px;
            border-style: solid;
            border-width: 1px;
            color: #00a0e9;
            min-width: 86px;
            height: 30px;
        }

        .item_summary {
            padding-top: 8px;
            padding-bottom: 10px;
            margin-left: 255px;
            color: #969696;
        }

        .donate_button {
            border-radius: 5px;
            font-size: 16px;
            width: 100px;
            height: 35px;
            background-color: #e41620;
            color: #FFFFFF;
            border: none;
            margin-top: 13px;
        }

        /*去掉输入框中的加减符号*/
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }

        .donate {
            margin: 2px;
            padding: 2px;
            border: 2px #d0c4c4 solid;
        }

        .button {
            border-radius: 5px;
            font-size: 16px;
            width: 100px;
            height: 35px;
            background-color: #e41620;
            color: #FFFFFF;
            border: none;
            margin-top: 10px;
        }

        .money {
            margin: 2px;
            padding: 2px;
            margin-bottom: 13px;
            line-height: 20px;
            width: 39px;
            height: 26px;
            display: inline-block;
        }

        .money_1 {
            border: 2px #d0c4c4 solid;
        }

        .money_2 {
            border: 2px #e41620 solid;
        }

        .money_da {
            margin: 3px;
            padding: 2px;
            margin-bottom: 13px;
            line-height: 24px;
            width: 39px;
            height: 30px;
            display: inline-block;
        }

        .donate_msg {
            font-family: 微软雅黑;
            margin: 38px;
            color: #403c3d;
            font-size: 14px;
            font-weight: 600;
            line-height: 63px;
        }

        .donate_msg span {
            font-family: 微软雅黑;
            color: #e4393c;
            font-size: 17px;
            font-weight: 600;
            line-height: 63px;
        }

        .code_time {
            font-family: 微软雅黑;
            margin: 38px;
            color: #403c3d;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: -16px;
        }

        .close:focus, .close:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: .5;
        }

        button.close_qr {
            -webkit-appearance: none;
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0;
        }

        .close_qr {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #928080;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: 0.2;
        }

        .close_qr:hover {
            color: #000;
        }

        .fresh {
            position: absolute;
            left: 60px;
            top: 3px;
            z-index: -1;
        }

        #fushImage {
            height: auto;
            width: auto;
        }

        .code_lost {
            color: #272323;
            font-size: 10px;
            font-weight: 600;
        }

        .qrCodeImageId {
            filter: alpha(Opacity=80);
            -moz-opacity: 0.5;
            opacity: 0.2;
        }

        .error {
            color: red;
            display: none;
            height: 10px;
            margin-top: 11px;
            width: 100%;
            margin-right: 110px;
        }

    </style>

</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-9" style="height: 400px">
            <div id="div_banner">
                <div id="div_prev">
                    <img th:src="@{/plugin/banner/image/l.png}"/>
                </div>
                <div id="div_next">
                    <img th:src="@{/plugin/banner/image/r.png}"/>
                </div>
                <ul id="ul_img" v-cloak>
                    <li v-for="(item,index) in items" :class="[index==0?'show':'']">
                        <a :href="'project/'+item.projectId" target="_blank">
                            <img :alt="item.projectName"
                                 :src="fileRoot+item.img+'?x-oss-process=image/resize,m_fixed,h_600,w_900'"/>
                        </a>
                    </li>
                </ul>
                <div id="div_banner_title">
                    <p id="p_banner"></p>
                    <ul id="ul_index"></ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding-left: 5px; height: 400px">
            <div id="div_total">
                <div class="div_title">
                    <h2 class="h2_title">爱心统计</h2>
                </div>
                <ul id="ul_total">
                    <li>
                        <p>爱心总人数</p>
                        <input type="number" :value="model.donateTime" readonly="true"/>
                        <p style="display: inline;">人次</p>
                    </li>
                    <li>
                        <p>善款总额</p>
                        <input id="donate_summary" type="text" :value="model.receivedAmount|format" readonly="true"/>
                        <p style="display: inline;">元</p>
                    </li>
                    <li>
                        <p>受益人数</p>
                        <input type="number" :value="model.benefitAmount" readonly="true"/>
                        <p style="display: inline;">人次</p>
                    </li>
                    <li>
                        <p>受益群体</p>
                        <input type="number" :value="model.benefitGroup" readonly="true"/>
                        <p style="display: inline;">个</p>
                    </li>
                    <div align="center" style="position: relative;">
                        <button type="button" class="donate_button" data-toggle="model" data-target="#div_qr_donate"
                                data-dismiss="model">
                            我要捐赠
                        </button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9" id="div_project_list" style="min-height: 1000px">
            <div v-for="item in items" v-cloak>
                <hr class="left_item hr_10"/>
                <div class="left_item div_project">
                    <a :href="'project/'+item.projectId" target="_blank">
                        <img :alt="item.projectName"
                             :src="fileRoot+item.img+'?x-oss-process=image/resize,m_fill,h_160,w_240'"
                             style="float:left;"/>
                    </a>
                    <span class="projectName">
                        <i class="fa fa-angle-right" aria-hidden="true"
                           style="font-size: 30px;color: #999999;margin-right: 10px"></i>
                        <a class="item_projectName" :href="'project/'+item.projectId" target="_blank">{{item.projectName}}</a>
                    </span>
                    <i class="fa fa-picture-o" aria-hidden="true" style="font-size:18px;color: #037270;"></i>
                    <span class="item_time">
                        <i class="fa fa-clock-o" aria-hidden="true" style="margin-right: 5px;font-size: 15px"></i>
                        <span style="color:#c8c8c8;margin-right: 10px;">发布时间 ：</span>{{item.createTime}}</span>
                    <p class="item_summary"><span>摘要 ： </span><span style=" color:#666666">{{item.summary}}</span></p>
                    <a style="float: right;" :href="'project/'+item.projectId" target="_blank">
                        <button class=" info_button">查看详情</button>
                    </a>
                </div>
            </div>

            <hr class="left_item hr_10"/>
            <div class="left_item" style="text-align: center" id="div_page">
            </div>
        </div>
        <div class="col-sm-3" style="padding-left:5px;margin-top:10px">
            <div class="right_panel" id="div_recent">
                <div class="div_title">
                    <h2 class="h2_title">爱心动态</h2>
                    <div v-cloak>
                        <ul class="recommend_item" v-for="item in items">
                            <li><img :src="fileRoot + item.avator+'?x-oss-process=image/resize,m_fixed,h_40,w_40'"/>
                            </li>
                            <li class="recommend_item_info">{{item.memberName}}捐赠&nbsp;<span>{{item.projectName==null?item.projectTypeName:item.projectName}}</span>&nbsp;{{item.amount|format}}元
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right_panel" id="div_project">
                <div class="div_title">
                    <h2 class="h2_title">项目推荐</h2>
                    <div class="recommend_item" v-for="item in items" v-cloak>
                        <ul>
                            <li><img :alt="item.projectName"
                                     :src="fileRoot + item.img+'?x-oss-process=image/resize,m_fill,h_40,w_40'"/></li>
                            <li class="recommend_item_word"><a :href="'project/'+item.projectId" target="_blank">{{item.projectName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right_panel" id="div_question">
                <div class="div_title">
                    <h2 class="h2_title">捐赠流程</h2>
                    <a v-for="(item,index) in items" :href="'/'+'article/'+item.articleId" target="_blank" v-cloak><p>
                        {{index+1}}.{{item.title}}</p></a>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="themes/default/footer::footer"></div>
<!--直接捐赠弹出层-->
<div class="model fade" id="div_qr_donate" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"
     aria-hidden="true" data-backdrop='static'>
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: 450px">
            <div class="model-header">
                <button type="button" class="close" data-dismiss="model" aria-hidden="true">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;">
                    向基金会捐赠
                </h4>
            </div>

            <div class="model-body" style="text-align: center">
                <div style="float:left;margin-top: 10px;margin-left: 80px;"><span
                        style="width: 115px;display: inline-block;text-align: right;">请选择项目类别：</span>
                    <select id="sel_project_type" onchange="f_GetProject()">
                        <option value="0">请选择项目类别</option>
                        <option v-for="item in items" id="name" :value="item.id">{{item.name}}</option>
                    </select>
                    <!--<input type="hidden" :value="item.name">-->
                </div>
                <div style="float:left;clear: both;margin-top: 10px;margin-left: 80px;">
                    <span style="width:115px; display: inline-block; text-align: right;">请选择项目：</span>
                    <select id="sel_project" style="width: 124px;">
                        <option value="0">请选择项目类别</option>
                        <option v-for="item in items" :value="item.projectId">{{item.projectName}}</option>
                    </select>
                </div>
                <div id="span_money" style="clear: both;">
                    <label style="clear: both;margin-top: 10px;margin-bottom: 5px;">捐赠金额</label>
                    <div style="margin-bottom:10px;">
                        <span id="span_0" class="money span_donation money_1">&yen;1</span>
                        <span id="span_1" class="money span_donation money_1">&yen;5</span>
                        <span id="span_2" class="money span_donation money_1">&yen;10</span>
                        <span id="span_3" class="money span_donation money_1">&yen;20</span>
                        <span id="span_4" class="money span_donation money_1">&yen;50</span>
                        <br/>
                        <span id="span_5" class="money span_donation money_1">&yen;100</span>

                        <span id="other" class="span_donation money_1"><span>其他捐赠金额：</span>
                            <input type="text" class="tx_yuan"
                                   style="outline:none;border:none;border-color:#e41620;text-align: right;width: 75px"
                                   value=""/></span>
                    </div>
                </div>

                <div>
                    <form action="">

                        <button class="donateSubmit button"
                                onclick="f_Donate();"
                                data-dismiss="model">确认捐赠
                        </button>
                        <button class="button"
                                data-dismiss="model" onclick="da_donate()">大额捐赠
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--确认捐赠弹出层-->
<div class="model fade" id="div_cf_donate" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"
     aria-hidden="true" data-backdrop='static'>
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: 600px">
            <div class="model-header">
                <button type="button" class="close_qr">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;">
                    扫描二维码,向基金会捐赠
                </h4>
            </div>

            <div class="play">
                <div class="ordermsg" style="margin-bottom: -34px;border-bottom: 1px solid #e0dada;">


                    <span class="donate_msg" style="font-family: 微软雅黑;">捐赠单号为：<span id="orderNo"></span></span>
                    <span class="donate_msg orderMoney" style="margin-left: 60px;color:#847f7f">捐赠金额：&yen;<span
                            id="donateAmount" class="order_fund" style=""></span></span>
                </div>
                <div class="code_time">距离二维码过期还有<span id="waitingPayTimerText" class="time" style="color: red"></span>秒
                </div>
                <div class="model-body" style="text-align: center">

                    <div class="model-body code_img row" style="text-align: center">
                        <div class="col-sm-6">
                            <div>
                                <img id="qrCodeImageId" height="200" width="200"
                                     onerror="this.onerror=null;this.src='/image/error.jpg'"/>
                                <div class="fresh">
                                    <img id="fushImage" class="img-rounded panel-body" th:src="@{~/image/reflush.png}"/>
                                    <div class="code_lost">点击刷新</div>
                                </div>
                            </div>
                            <div><img id="CodeImage" th:src="@{~/image/wxsm.png}"/></div>
                        </div>
                        <div class="col-sm-6">
                            <img id="qr_logo" th:src="@{~/image/sm.jpg}" alt="hjaksfh"
                                 style="height:205px; width:265px;display: none;"/>
                            <div class="orderMoney" style="margin-top: 33px;">打开手机 <span
                                    style="color: red;">微信扫一扫</span>，扫描二维码
                            </div>
                        </div>
                    </div>

                    <!--<img th:src="@{/image/qr_code.png}" height="200" width="200"/></div>-->
                    <div class="model-footer" style="text-align: center">
                        使用微信扫码捐赠
                    </div>
                </div>
            </div>
            <!--支付成功-->
            <div class="play_success" style="display: none">
                <div class="model-header">
                    <h4 class="model-title" style="width: 100%;text-align: center;">
                        支付成功
                    </h4>
                    <div class="model-body" style="text-align: center">
                        <img th:src="@{~/image/play.png}" style="width: 200px;"/>
                    </div>
                </div>
                <div class="model-footer" style="text-align: center">
                    使用微信捐赠成功
                </div>
            </div>
        </div>
    </div>
</div>


<!--大额捐赠弹出层-->
<div class="model fade" id="div_de_donate" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"
     aria-hidden="true">
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: 450px">
            <div class="model-header">
                <button type="button" class="close" data-dismiss="model" aria-hidden="true">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;font-weight: 600;">
                    大额捐赠
                </h4>
            </div>

            <div class="model-body" style="text-align: center">

                <div style="clear: both;">
                    <div class="row">
                        <span class="col_sm_4">手机：
                        </span>

                        <span class="col_sm_2">
                            <input type="text" id="ipt_dnt_mobile" style=" width: 100px; height: 31px;"
                                   readonly="readonly"/>
                        </span>

                        <span class="col_sm_6">
                            <button class="btn btn-info btn_send" style="width: 136px;padding-left: 4px">发送验证码</button>
                        </span>
                    </div>

                    <div style="width:80%;margin-top:20px;">验证码：
                        <input type="number" id="ipt_dnt_amount" style="width:170px;"/>
                        <p class="code_error error" style="margin-right: 132px;">验证码不能为空</p>
                    </div>
                </div>

                <div style="margin-top:10px;clear: both;">
                    <button class="donateSubmit button" data-toggle="model" data-target="#div_qr_donate"
                            data-dismiss="model">上一步
                    </button>
                    <!--data-toggle="model" data-target="#div_de_donate_step2"-->
                    <button class="button da_donate_next" data-dismiss="model">下一步
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<!--大额捐赠弹出层第二步-->
<div class="model fade" id="div_de_donate_step2" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"
     aria-hidden="true">
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: 450px">
            <div class="model-header">
                <button type="button" class="close" data-dismiss="model" aria-hidden="true">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;">
                    大额捐赠捐赠意向
                </h4>
            </div>

            <div class="model-body" style="text-align: center">
                <div style="float:left;margin-top: 10px;margin-left: 80px;"><span
                        style="width: 115px;display: inline-block;text-align: right;">请选择项目类别：</span>
                    <select id="sel_project_type2" onchange="f_GetProject2()">
                        <option value="0">请选择项目类别</option>
                        <option v-for="item in items" id="name2" :value="item.id">{{item.name}}</option>
                    </select>
                    <!--<input type="hidden" :value="item.name">-->
                </div>
                <div style="float:left;clear: both;margin-top: 10px;margin-left: 80px;">
                    <span style="width:115px; display: inline-block; text-align: right;">请选择项目：</span>
                    <select id="sel_project2" style="width: 124px;">
                        <option value="0">请选择项目类别</option>
                        <option v-for="item in items" :value="item.projectId">{{item.projectName}}</option>
                    </select>
                </div>

                <div style="clear: both;">
                    <label style="clear: both;margin-top: 10px;margin-bottom: 5px;">捐赠金额</label>
                    <div style="margin-bottom:10px;">
                        <span class="money_da span_donation money_1">&yen;1千</span>
                        <span class="money_da span_donation money_1">&yen;2千</span>
                        <span class="money_da span_donation money_1">&yen;5千</span>
                        <span class="money_da span_donation money_1">&yen;8千</span>
                        <span class="money_da span_donation money_1">&yen;1万</span>
                        <br/>
                        <span class="money_da span_donation money_1">&yen;2万</span>

                        <span id="other_2" class="span_donation money_1"><span>其他捐赠金额：</span>
                            <input type="text" class="tx_yuan"
                                   style="outline:none;border:none;border-color:#e41620;text-align: right;width: 75px"
                                   value=""/></span>
                    </div>
                </div>

                <!--<div style="">手机：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                <!--<input type="text" id="ipt_dnt_mobile"/></div>-->
                <!--<div style="width:100%;margin-top:20px;">捐赠金额：&nbsp;-->
                <!--<input type="number" id="ipt_dnt_amount"/>-->
                <!--</div>-->
                <div style="margin-top:10px;clear: both;">
                    <button class="donateSubmit button" data-toggle="model" data-target="#div_de_donate"
                            data-dismiss="model">上一步
                    </button>
                    <button class="button" onclick="f_Donate2()">确认捐赠
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--大额捐赠弹出层第三步-->
<div class="model fade" id="div_de_donate_step3" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"
     aria-hidden="true" data-backdrop='static'>
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: 600px">
            <div class="model-header">
                <button type="button" class="close_qr">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;">
                    扫描二维码,向基金会捐赠
                </h4>
            </div>

            <div class="play">
                <div class="ordermsg" style="margin-bottom: -34px;border-bottom: 1px solid #e0dada;">


                    <span class="donate_msg" style="font-family: 微软雅黑;">捐赠单号为：<span id="orderNo2"></span></span>
                    <span class="donate_msg orderMoney" style="margin-left: 149px;color:#847f7f">捐赠金额：&yen;<span
                            id="donateAmount2" class="order_fund" style=""></span></span>
                </div>
                <div class="code_time2">距离二维码过期还有<span id="waitingPayTimerText2" class="time" style="color: red"></span>秒
                </div>
                <div class="model-body" style="text-align: center">

                    <div class="model-body code_img2 row" style="text-align: center">
                        <div class="col-sm-6">
                            <div>
                                <img id="qrCodeImageId2" height="200" width="200"
                                     onerror="this.onerror=null;this.src='/image/error.jpg'"/>
                                <div class="fresh">
                                    <img id="fushImage2" class="img-rounded panel-body"
                                         th:src="@{~/image/reflush.png}"/>
                                    <div class="code_lost">点击刷新</div>
                                </div>
                            </div>
                            <div><img id="CodeImage2" th:src="@{~/image/wxsm.png}"/></div>
                        </div>
                        <div class="col-sm-6">
                            <img id="qr_logo2" th:src="@{~/image/sm.jpg}" alt="hjaksfh"
                                 style="height:205px; width:265px;display: none;"/>
                            <div class="orderMoney" style="margin-top: 33px;">打开手机 <span
                                    style="color: red;">微信扫一扫</span>，扫描二维码
                            </div>
                        </div>
                    </div>

                    <!--<img th:src="@{/image/qr_code.png}" height="200" width="200"/></div>-->
                    <div class="model-footer" style="text-align: center">
                        使用微信扫码捐赠
                    </div>
                </div>
            </div>
            <!--支付成功-->
            <div class="play_success" style="display: none">
                <div class="model-header">
                    <h4 class="model-title" style="width: 100%;text-align: center;">
                        支付成功
                    </h4>
                    <div class="model-body" style="text-align: center">
                        <img th:src="@{~/image/play.png}" style="width: 200px;"/>
                    </div>
                </div>
                <div class="model-footer" style="text-align: center">
                    使用微信捐赠成功
                </div>
            </div>
        </div>
    </div>
</div>


<!--扫码成功弹出层-->

<!--<div class="model fade" id="div_cf_donate_success" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"-->
<!--aria-hidden="true" data-backdrop='static'>-->
<!--<div class="model-dialog" style="margin-top:100px">-->
<!--<div class="model-content" style="width: 600px">-->
<!--<div class="model-header">-->
<!--<button type="button" class="close_qr" >-->
<!--&times;-->
<!--</button>-->
<!--<h4 class="model-title" style="width: 100%;text-align: center;">-->
<!--扫码成功-->
<!--</h4>-->
<!--</div>-->


<!--&lt;!&ndash;<img th:src="@{/image/qr_code.png}" height="200" width="200"/></div>&ndash;&gt;-->
<!--<div class="model-footer" style="text-align: center">-->
<!--使用微信扫码捐赠-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--全局JS-->
<script th:src="@{/plugin/banner/js.js}"></script>
<script th:src="@{/plugin/pagination/pagination.js}"></script>

<!--&lt;!&ndash;捐赠js&ndash;&gt;-->
<!--<script th:src="@{/js/donate/donate.js}"></script>-->
<!--页面JS-->
<!--##IMPORTANT 此处加上th:inline是为了在JS中使用模板引擎-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var pageSize = 8;
    var pageNum = 1;
    var pageCount;
    var vueContent;
    var vueProject;


    var flag = 0;
    var span_money;

    var donateType = 0;


    $(document).ready(function () {
        f_getBanner();
        f_GetArticle();
        f_getRecommend();
        f_getQuestion();
        f_GetRecentDonate();
        f_GetDonationInfo();
        f_GetProjectType();
        f_GetProjectType2();
        if (memberInfo != null) {
            $("#ipt_dnt_mobile").val(memberInfo.mobile);
        }

//        if (window.WebSocket) {
//            console.log('This browser supports WebSocket');
//        } else {
//            console.log('This browser does not supports WebSocket');
//        }
//
//        if (window.SocketJs) {
//            console.log('This browser supports SocketJs');
//        } else {
//            console.log('This browser does not supports SocketJs');
//        }

//        f_loginValidate();

    });

    //    $(".btn_submit").click(function () {
    //        var projectTypeId = $("#sel_project_type").val();
    //        var projectId = $("#sel_project").val();
    //        var amount = $("#ipt_dnt_amount").val();
    //        var mobile = $("#ipt_dnt_mobile").val();
    //        $.ajax({
    //            url: '/apply/submit',
    //            data: {
    //                projectId: projectId,
    //                projectTypeId: projectTypeId,
    //                memberId: memberInfo.memberId,
    //                intentionAmount: amount,
    //                contactPhone: mobile
    //            },
    //            type: 'post',
    //            dataType: 'json',
    //            success: function (data) {
    //                layer.alert(data.msg)
    //                if (data.code === 200) {
    //                }
    //            }
    //        });
    //    });

    function f_OnPageChange(newPage) {
        pageNum = newPage;
        f_GetArticle();
    }

    //获取首页文章，默认按照创建时间倒序排列
    function f_GetArticle() {
        $.ajax({
            url: '/index/project',
            data: {pageNum: pageNum, pageSize: pageSize},
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    pageCount = data.result.pages;
                    pageNum = data.result.pageNum;
                    $("#div_page").attr("pageNum", pageNum).attr("pageCount", pageCount).attr("pageExtra", 3);
                    f_InitPagination($("#div_page"));
                    if (vueContent == undefined) {
                        vueContent = new Vue({
                            el: '#div_project_list',
                            data: {
                                items: data.result.list
                            }
                        });
                    } else {
                        for (var i = 0; i < data.result.list.length; i++) {
                            Vue.set(vueContent.items, i, data.result.list[i]);
                        }
                        vueContent.items.splice(data.result.list.length);
                        scrollTo(0, 0);
                    }
                }
            }
        });
    }

    //获取Banner广告
    function f_getBanner() {
        $.ajax({
            url: '/block/project',
            data: {blockId: 1},
            type: 'post',
            dataType: 'json',
            success: function (data) {
                //绑定Banner
                if (data.code === 200) {
                    new Vue({
                        el: '#ul_img',
                        data: {
                            items: data.result
                        }
                    });
                }
                //开始轮播图片
                f_begin();
            }
        });
    }

    //获取常见问题
    function f_getQuestion() {
        $.ajax({
            url: '/block/article',
            type: 'post',
            data: {blockId: 3},
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    new Vue({
                        el: '#div_question',
                        data: {
                            items: data.result,
                        }
                    });
                }
            }
        });
    }

    //获取推荐项目
    function f_getRecommend() {
        $.ajax({
            url: '/block/project',
            type: 'post',
            data: {blockId: 2},
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    new Vue({
                        el: '#div_project',
                        data: {
                            items: data.result
                        }
                    });
                }
            }
        });
    }

    //获取最近捐赠
    function f_GetRecentDonate() {
        $.ajax({
            url: '/donate/recent',
            type: 'post',
            data: {num: 7},
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    new Vue({
                        el: "#div_recent",
                        data: {
                            items: data.result
                        }
                    });
                }
            }
        });
    }

    //获取所有项目类型
    function f_GetProjectType() {
        $.ajax({
            url: '/project/type',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    new Vue({
                        el: "#sel_project_type",
                        data: {
                            items: data.result
                        }
                    });
                }
            }
        });
    }

    //获取所有项目
    function f_GetProject() {
        var tid = $("#sel_project_type").val();
        if (tid !== "0") {
            $.ajax({
                url: '/project/all',
                data: {tid: tid},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.code === 200) {
                        if (vueProject == undefined) {
                            vueProject = new Vue({
                                el: "#sel_project",
                                data: {
                                    items: data.result
                                }
                            });
                        } else {
                            for (var i = 0; i < data.result.length; i++) {
                                Vue.set(vueProject.items, i, data.result[i]);
                            }
                            vueProject.items.splice(data.result.length);
                        }
                    }
                }
            });

        }
    }


    function f_GetDonationInfo() {
        $.ajax({
            url: '/index/report',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    new Vue({
                        el: "#ul_total",
                        data: {
                            model: data.result
                        }
                    });
                }
            }
        });
    }


    //选择金额
    $(".span_donation").click(function () {
        $(".money_2").removeClass("money_2");
        $(this).addClass("money_2");
        flag = 1;
        var str = $(this).html();
        var reg = /\d+/g;
        var ms = str.match(reg);
        span_money = ms;
    })


    $("#da").click(function () {
        $(this).removeClass("money_1");
        $(this).addClass("money_2");
    })


    //翻页回调函数
    function f_PageCallBack(newPage) {
        pageNum = newPage;
        f_GetArticle();
    }

    function f_Donate() {
        if (donateType == 0) {
            var projectType = $("#sel_project_type").find("option:selected").text();
            var projectName = $("#sel_project").find("option:selected").text();
            if (projectType == "请选择项目类别") {
                alert("你还没有选择项目");
            } else if (flag == 0) {
                alert("你还没有选择金额");
            } else {
                $("#div_cf_donate").model('show');
                var projectTypeId = $("#sel_project_type").val();
                var projectId = $("#sel_project").val();
                var amount = span_money * 100;
                $("#donateAmount").html(span_money);
                $.ajax({
                    url: '/donate/donate',
                    type: 'post',
                    data: {
                        projectTypeId: projectTypeId,
                        projectId: projectId,
                        amount: amount
                    },
                    dataType: 'json',
                    success:
                        function (data) {
                            if (data.code === 200) {
                                $("#qrCodeImageId").attr("src", data.result.qrCodeImageBase64);
                                $("#orderNo").html(data.result.orderNo);
                                checkPayStatusInterval = setInterval("checkPayStatus()", 3000);
                            }
                        }
                });
                var timer = 120;

                function Countdown() {
                    if (timer >= 1) {
                        timer -= 1;
                        t = setTimeout(function () {
                            Countdown();
                        }, 1000);
                        $("#waitingPayTimerText").html(timer);
                    } else {
                        $("#qrCodeImageId").attr("src", "");
                        $(".fresh").css("z-index", "3");
                        $(".code_time").html("二维码已经失效，请刷新！");
                    }
                }

                Countdown();
            }
        }

    }

    function checkPayStatus() {
        var orderNo = $("#orderNo").html();
        $.ajax({
            url: '/wxpay/status',
            type: 'post',
            data: {
                orderNo: orderNo
            },
            dataType: 'json',
            success:
                function (data) {
                    if (data.code === 200) {
                        var returnCode = data.result.notify_return_code;
                        var resultCode = data.result.notify_result_code;
                        var errCodeDesc = data.result.notify_err_code_desc;
                        if (returnCode != undefined && resultCode != undefined && resultCode === "SUCCESS" && returnCode === "SUCCESS") {
                            $(".code_time").html("支付成功。<span id=\"autoCloseAfterPaidTimerText\" class=\"time\" style=\"color: red\">5</span>秒自动关闭。");
                            stopCount();
                            autoCloseAfterPaidInterval = setInterval("autoCloseAfterPaid()", 1000);
                        } else {
                            $(".code_time").html("<span class=\"notifyErrCodeDesc\" style=\"color: red\">errCodeDesc</span>");
                        }
                    }
                }
        });
    }

    $(".code_img").mouseover(function () {
        $("#qr_logo").fadeIn(2000);
    })
    $(".code_img2").mouseover(function () {
        $("#qr_logo2").fadeIn(2000);
    })


    $(".close_qr").click(function () {
        $("#div_cf_donate").model('hide');
        $("#div_de_donate_step3").model('hide');
        $("#qrCodeImageId").attr("src", "");
        stopCount();
    })



    var autoCloseTimeout = 5;

    function autoCloseAfterPaid() {
        if (autoCloseTimeout > 1) {
            autoCloseTimeout -= 1;
            $("#autoCloseAfterPaidTimerText").html(autoCloseTimeout);
            $("#qrCodeImageId").attr("src", "");
        } else {
            clearInterval(autoCloseAfterPaidInterval);
            $(".close_qr").click();
            window.location.reload();
        }
    }

    //关闭函数
    function stopCount() {
        clearTimeout(t);
        clearInterval(checkPayStatusInterval);
    }

    //刷新二维码
    $(".fresh").click(function () {
        $(".code_time").html("距离二维码过期还有<span id=\"waitingPayTimerText\" class=\"time\" style=\"color: red\"></span>秒");
        $(".fresh").css("z-index", "-1");
        $("#qrCodeImageId").removeClass("qrCodeImageId");
        var projectTypeId = $("#sel_project_type").val();
        var projectId = $("#sel_project").val();
        // var amount = $(".money_2").html().replace("￥","").replace("&yen;", "");
        // amount = math.eval(amount * 100);
        var amount = span_money * 100;
        $(".order_fund").html(amount / 100);
        $.ajax({
            url: '/donate/donate',
            type: 'post',
            data: {
                projectTypeId: projectTypeId,
                projectId: projectId,
                amount: amount
            },
            dataType: 'json',
            success:
                function (data) {
                    if (data.code === 200) {
                        $("#qrCodeImageId").attr("src", data.result.qrCodeImageBase64);
                    }
                }
        });
        var timer = 120;

        function Countdown() {
            if (timer >= 1) {
                timer -= 1;
                t = setTimeout(function () {
                    Countdown();
                }, 1000);
                $(".time").html(timer);
            } else {
                $("#qrCodeImageId").attr("src", "");
                $(".fresh").css("z-index", "3");
                $("#qrCodeImageId").attr("class", "qrCodeImageId");
                $(".code_time").html("二维码已经失效，请刷新！");
            }
        }

        Countdown();
    })


    //大额捐赠
    function da_donate() {
        if (memberInfo != null) {
            $("#div_de_donate").model('show');
        } else {
            layer.alert("大额捐赠需要签订捐赠合同，请注册登录后进行大额捐赠，谢谢");
            $("#div_cf_donate").model('hide');
        }
    }


    //大额捐赠第一步
    $(".btn_send").click(function () {
        var mobile = $("#ipt_dnt_mobile").val();
        $.ajax({
            url: '/donate/SendSms',
            type: 'post',
            data: {mobile: mobile, tid: "3"},
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    timer = 60;
                    Countdown();
                    $(".btn_send").attr("disabled", true);
                    $("#ipt_dnt_amount").focus();
                } else {
                    layer.alert(data.msg);
                }
            }
        })
    });

    //验证码
    $("#ipt_dnt_amount").blur(function () {
//        alert($("#ipt_dnt_amount").val());
        if ($("#ipt_dnt_amount").val() == "") {
            $(".code_error").show();
        } else {
            $(".code_error").hide();
        }
    })

    //倒计时
    function Countdown() {
        if (timer >= 1) {
            timer -= 1;
            t = setTimeout(function () {
                Countdown();
            }, 1000);
            $(".btn_send").html(timer + "秒后可以重新获取");

        } else {
            $(".btn_send").attr("disabled", false);
            $(".btn_send").html("重新获取");
        }
    }

    //大额捐赠第二步
    //验证验证码
    $(".da_donate_next").click(function () {
        var smsCode = $("#ipt_dnt_amount").val();
        mobile = $("#ipt_dnt_mobile").val();
        $.ajax({
            url: '/donate/validate',
            type: 'post',
            data: {mobile: mobile, code: smsCode, tid: "3"},
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    $("#div_de_donate_step2").model('show');
                } else if (data.code == 402) {
                    layer.alert("验证码已过期，请重新获取");
                } else if (data.code == 403) {
                    layer.alert("验证码错误");
                } else {
                    layer.alert("验证码错误");
                }
            }
        })
    })

    //获取所有项目类型
    function f_GetProjectType2() {
        $.ajax({
            url: '/project/type',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    new Vue({
                        el: "#sel_project_type2",
                        data: {
                            items: data.result
                        }
                    });
                }
            }
        });
    }

    //获取所有项目
    function f_GetProject2() {
        var tid = $("#sel_project_type2").val();
        if (tid !== "0") {
            $.ajax({
                url: '/project/all',
                data: {tid: tid},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.code === 200) {
                        if (vueProject == undefined) {
                            vueProject = new Vue({
                                el: "#sel_project2",
                                data: {
                                    items: data.result
                                }
                            });
                        } else {
                            for (var i = 0; i < data.result.length; i++) {
                                Vue.set(vueProject.items, i, data.result[i]);
                            }
                            vueProject.items.splice(data.result.length);
                        }
                    }
                }
            });

        }
    }

    //大额捐赠第三步(确认捐赠部分)

//    function f_Donate2() {
//        var projectType = $("#sel_project_type2").find("option:selected").text();
//        var projectName = $("#sel_project2").find("option:selected").text();
//        if (projectType == "请选择项目类别") {
//            alert("你还没有选择项目");
//        } else if (flag == 0) {
//            alert("你还没有选择金额");
//        } else {
////            window.location.href = "/home/apply";
////            layer.alert("提交捐赠意向成功！",3000,function(){window.location.href = "/home/apply"});
//            $("#div_de_donate_step3").model('show');
//            var projectTypeId = $("#sel_project_type2").val();
//            var projectId = $("#sel_project2").val();
//            var amount = span_money * 100;
//            $("#donateAmount2").html(span_money);
//            $.ajax({
//                url: '/donate/donate',
//                type: 'post',
//                data: {
//                    projectTypeId: projectTypeId,
//                    projectId: projectId,
//                    amount: amount
//                },
//                dataType: 'json',
//                success:
//                    function (data) {
//                        if (data.code === 200) {
//                            $("#qrCodeImageId2").attr("src", data.result.qrCodeImageBase64);
//                            $("#orderNo2").html(data.result.orderNo);
//                            checkPayStatusInterval = setInterval("checkPayStatus2()", 3000);
//                        }
//                    }
//            });
//            var timer = 120;
//
//            function Countdown2() {
//                if (timer >= 1) {
//                    timer -= 1;
//                    t = setTimeout(function () {
//                        Countdown2();
//                    }, 1000);
//                    $("#waitingPayTimerText2").html(timer);
//                } else {
//                    $("#qrCodeImageId2").attr("src", "");
//                    $(".fresh2").css("z-index", "3");
//                    $(".code_time2").html("二维码已经失效，请刷新！");
//                }
//            }
//
//            Countdown2();
//        }
//
//
//    }
//
//    function checkPayStatus2() {
//        var orderNo = $("#orderNo2").html();
//        $.ajax({
//            url: '/wxpay/status',
//            type: 'post',
//            data: {
//                orderNo: orderNo
//            },
//            dataType: 'json',
//            success:
//                function (data) {
//                    if (data.code === 200) {
//                        var returnCode = data.result.notify_return_code;
//                        var resultCode = data.result.notify_result_code;
//                        var errCodeDesc = data.result.notify_err_code_desc;
//                        if (returnCode != undefined && resultCode != undefined && resultCode === "SUCCESS" && returnCode === "SUCCESS") {
//                            $(".code_time2").html("支付成功。<span id=\"autoCloseAfterPaidTimerText\" class=\"time\" style=\"color: red\">5</span>秒自动关闭。");
//                            stopCount();
//                            autoCloseAfterPaidInterval = setInterval("autoCloseAfterPaid()", 1000);
//                        } else {
//                            $(".code_time2").html("<span class=\"notifyErrCodeDesc\" style=\"color: red\">errCodeDesc</span>");
//                        }
//                    }
//                }
//        });
//    }

    function f_Donate2() {
        if (donateType == 0) {
            var projectType = $("#sel_project_type2").find("option:selected").text();
            var projectName = $("#sel_project2").find("option:selected").text();
            if (projectType == "请选择项目类别") {
                alert("你还没有选择项目");
            } else if (flag == 0) {
                alert("你还没有选择金额");
            } else {
                $("#div_de_donate_step2").model('hide');
                $("#div_cf_donate").model('show');
                var projectTypeId = $("#sel_project_type2").val();
                var projectId = $("#sel_project2").val();
                var amount = span_money * 100000;
                $("#donateAmount").html(span_money*1000);
                $.ajax({
                    url: '/donate/donate',
                    type: 'post',
                    data: {
                        projectTypeId: projectTypeId,
                        projectId: projectId,
                        amount: amount
                    },
                    dataType: 'json',
                    success:
                        function (data) {
                            if (data.code === 200) {
                                $("#qrCodeImageId").attr("src", data.result.qrCodeImageBase64);
                                $("#orderNo").html(data.result.orderNo);
                                checkPayStatusInterval = setInterval("checkPayStatus()", 3000);
                            }
                        }
                });
                var timer = 120;

                function Countdown() {
                    if (timer >= 1) {
                        timer -= 1;
                        t = setTimeout(function () {
                            Countdown();
                        }, 1000);
                        $("#waitingPayTimerText").html(timer);
                    } else {
                        $("#qrCodeImageId").attr("src", "");
                        $(".fresh").css("z-index", "3");
                        $(".code_time").html("二维码已经失效，请刷新！");
                    }
                }

                Countdown();
            }
        }

    }

    function checkPayStatus() {
        var orderNo = $("#orderNo").html();
        $.ajax({
            url: '/wxpay/status',
            type: 'post',
            data: {
                orderNo: orderNo
            },
            dataType: 'json',
            success:
                function (data) {
                    if (data.code === 200) {
                        var returnCode = data.result.notify_return_code;
                        var resultCode = data.result.notify_result_code;
                        var errCodeDesc = data.result.notify_err_code_desc;
                        if (returnCode != undefined && resultCode != undefined && resultCode === "SUCCESS" && returnCode === "SUCCESS") {
                            $(".code_time").html("支付成功。<span id=\"autoCloseAfterPaidTimerText\" class=\"time\" style=\"color: red\">5</span>秒自动关闭。");
                            stopCount();
                            autoCloseAfterPaidInterval = setInterval("autoCloseAfterPaid()", 1000);
                        } else {
                            $(".code_time").html("<span class=\"notifyErrCodeDesc\" style=\"color: red\">errCodeDesc</span>");
                        }
                    }
                }
        });
    }



    /*]]>*/
</script>
</body>
</html>