<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <title>捐赠系统：世纪爱心慈善基金会</title>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}"/>
    <link th:href="@{/plugin/banner/css.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/font-awesome.css?v=4.3.0}" rel="stylesheet"/>

    <style type="text/css">
        * {
            font-family: 微软雅黑;
        }

        #div_total {
            height: 400px;
            margin-top: 10px;
            border: 1px #e9e9e9 solid;
        }

        #ul_total {
            list-style: none;
        }

        .left_item {
            width: 900px;
        }

        .div_project {
            height: 145px;
            margin-top: 15px;
            margin-bottom: 30px;
        }

        .hr_10 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .right_panel {
            margin-top: 10px;
            border: 1px #e9e9e9 solid;
        }

        #div_recent {
            /*height: 402px;*/
            height: 388px;
        }

        #div_recent img {
            float: left;
        }

        #div_project {
            height: 349px;
        }

        #div_project img {
            height: 40px;
            width: 40px;
            float: left;
        }

        #div_question {
            min-height: 200px;
        }

        .recommend_item {
            height: 40px;
            padding-bottom: 45px;
            /*padding-top: 7px;*/
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 40px;
            margin-bottom: 0px;
            border-bottom: 1px solid #E4E4E4;
        }

        .recommend_item a {
            color: #000000;
        }

        .recommend_item:hover {
            background-color: #EFF8F8;
        }

        .recommend_item_word {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 210px;
            padding-left: 10px;
        }

        .recommend_item_info {
            padding-left: 10px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 220px;
            line-height: 20px;
            font-size: 15px;
            word-wrap: break-word;
            float: right;
        }

        #ul_total input {
            border: 1px solid;
            width: 215px;
            font-size: 24px;
            color: #ffa701;
            text-align: right;
            padding-right: 5px;
        }

        #ul_total p {
            font-size: 15px;
        }

        #ul_total li {
            padding-top: 10px;
            padding-left: 20px;
        }

        #div_question p {
            margin-left: 15px;
            margin-top: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #other {
            margin: 2px;
            padding: 2px;
            margin-top: 20px;
            border: 2px #d0c4c4 solid;
        }

        .item_time {
            float: right;
            color: #969696;
            font-size: 12px;
        }

        .projectName {
            margin-left: 15px;
        }

        .item_projectName {
            color: #000000;
            font-size: 22px;
        }

        .info_button {
            font-size: 12px;
            text-align: center;
            background-color: #fcfcfc;
            border-color: #f0f0f0;
            border-radius: 0px;
            border-style: solid;
            border-width: 1px;
            color: #00a0e9;
            min-width: 86px;
            height: 30px;
        }

        .item_summary {
            padding-top: 25px;
            padding-bottom: 10px;
            margin-left: 255px;
            color: #969696;
        }

        .donate_button {
            border-radius: 5px;
            font-size: 16px;
            width: 100px;
            height: 35px;
            background-color: #e41620;
            color: #FFFFFF;
            border: none;
            margin-top: 13px;
        }

        /*去掉输入框中的加减符号*/
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }

        .button {
            border-radius: 5px;
            font-size: 16px;
            width: 110px;
            height: 35px;
            background-color: #e41620;
            color: #FFFFFF;
            border: none;
            margin-top: 10px;
        }

        .money {
            margin: 2px;
            padding: 1px;
            margin-bottom: 13px;
            line-height: 20px;
            width: 39px;
            height: 26px;
            display: inline-block;
        }

        .money_1 {
            border: 2px #d0c4c4 solid;
        }

        .money_2 {
            border: 2px #e41620 solid;
        }

        .donate_msg {
            font-family: 微软雅黑;
            margin: 38px;
            color: #403c3d;
            font-size: 14px;
            font-weight: 600;
            line-height: 63px;
        }

        .donate_msg span {
            font-family: 微软雅黑;
            color: #e4393c;
            font-size: 17px;
            font-weight: 600;
            line-height: 63px;
        }

        .code_time {
            font-family: 微软雅黑;
            margin: 38px;
            color: #403c3d;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: -16px;
        }

        .close:focus, .close:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: .5;
        }

        button.close_qr {
            -webkit-appearance: none;
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0;
        }

        .close_qr {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #928080;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: 0.2;
        }

        .close_qr:hover {
            color: #000;
        }

        .fresh {
            position: absolute;
            left: 60px;
            top: 3px;
            z-index: -1;
        }

        .success {
            position: absolute;
            left: 38px;
            top: -7px;
            z-index: -2;
        }

        #fushImage {
            height: auto;
            width: auto;
        }

        .code_lost {
            color: #272323;
            font-size: 10px;
            font-weight: 600;
        }

        .qrCodeImageId {
            filter: alpha(Opacity=80);
            -moz-opacity: 0.5;
            opacity: 0.2;
        }

        .error {
            color: red;
            display: none;
            height: 10px;
            margin-top: 11px;
            width: 100%;
            margin-right: 110px;
        }

        #p_no_recent {
            font-size: 18px;
            font-weight: 600;
            display: none;
        }

        #p_no_relative {
            font-size: 18px;
            font-weight: 600;
            display: none;
        }

        #p_no_question {
            font-size: 18px;
            font-weight: 600;
            display: none;
        }

        .p_tab_empty {
            line-height: 100px;
            text-align: center;
            width: 100%;
        }

        .cu {
            font-weight: 600;
        }

        .recommend_item_info_fomat {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            float: left;
            width: 90px;
            font-size: 14px;
            font-weight: bold;
            color: #00a0e9
        }

        .recommend_item_info_money {
            float: right;
            font-size: 17px;
            line-height: 0px;
            color: #FF5A43;
        }

        .recommend_item_info_project {
            float: left;
            font-size: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            width: 130px;
        }
    </style>
</head>
<body>
<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-9" style="height: 400px">
            <div id="div_banner">
                <div id="div_prev">
                    <img th:src="@{/plugin/banner/image/l.png}"/>
                </div>
                <div id="div_next">
                    <img th:src="@{/plugin/banner/image/r.png}"/>
                </div>
                <ul id="ul_img" v-cloak>
                    <li v-for="(item,index) in items" :class="[index==0?'show':'']">
                        <a :href="'project/'+item.projectId" target="_blank">
                            <img :alt="item.projectName"
                                 :src="fileRoot+item.img+'?x-oss-process=image/resize,m_fill,h_400,w_900,limit_0'"/>
                        </a>
                    </li>
                </ul>
                <div id="div_banner_title">
                    <p id="p_banner"></p>
                    <ul id="ul_index"></ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding-left: 5px; height: 400px">
            <div id="div_total">
                <div class="div_title">
                    <h2 class="h2_title">爱心统计</h2>
                </div>
                <ul id="ul_total">
                    <li>
                        <p>爱心总人数</p>
                        <input type="number" :value="model.donateTime" readonly="true"/>
                        <p style="display: inline;">人次</p>
                    </li>
                    <li>
                        <p>善款总额</p>
                        <input id="donate_summary" type="text" :value="model.receivedAmount|format" readonly="true"/>
                        <p style="display: inline;">元</p>
                    </li>
                    <li>
                        <p>受益人数</p>
                        <input type="number" :value="model.benefitAmount" readonly="true"/>
                        <p style="display: inline;">人次</p>
                    </li>
                    <li>
                        <p>受益群体</p>
                        <input type="number" :value="model.benefitGroup" readonly="true"/>
                        <p style="display: inline;">个</p>
                    </li>
                    <div align="center" style="position: relative;">
                        <button type="button" class="donate_button" onclick="openQr()">
                            我要捐赠
                        </button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9" id="div_project_list" style="min-height: 1000px">
            <div v-for="item in items" v-cloak>
                <hr class="left_item hr_10"/>
                <div class="left_item div_project">
                    <a :href="'project/'+item.projectId" target="_blank">
                        <img :alt="item.projectName"
                             :src="fileRoot+item.img+'?x-oss-process=image/resize,m_fill,h_160,w_240'"
                             style="float:left;"/>
                    </a>
                    <span class="projectName">
                        <i class="fa fa-angle-right" aria-hidden="true"
                           style="font-size: 30px;color: #999999;margin-right: 10px"></i>
                        <a class="item_projectName" :href="'project/'+item.projectId" target="_blank">{{item.projectName}}</a>
                    </span>
                    <i class="fa fa-picture-o" aria-hidden="true" style="font-size:18px;color: #037270;"></i>
                    <span class="item_time">
                        <i class="fa fa-clock-o" aria-hidden="true" style="margin-right: 5px;font-size: 15px"></i>
                        <span style="color:#c8c8c8;margin-right: 10px;">发布时间 ：</span>{{item.createTime}}</span>
                    <p class="item_summary"><span>摘要 ： </span><span style=" color:#666666">{{item.summary}}</span></p>
                    <a style="float: right;" :href="'project/'+item.projectId" target="_blank">
                        <button class=" info_button">查看详情</button>
                    </a>
                </div>
            </div>
            <hr class="left_item hr_10"/>
            <div class="left_item" style="text-align: center" id="div_page">
            </div>
        </div>
        <div class="col-sm-3" style="padding-left:5px;margin-top:10px">
            <div class="right_panel" id="div_recent">
                <div class="div_title">
                    <h2 class="h2_title">爱心动态</h2>
                    <p class="p_tab_empty" id="p_no_recent">
                        <img src="/image/face.png" style="width: 30px;height: 30px;margin-right: 10px; float: none;">暂无爱心动态
                    </p>
                    <div v-cloak>
                        <ul class="recommend_item" v-for="item in items">
                            <li>
                                <img :src="fileRoot + (item.avator==null?'image/avator/default.jpg':item.avator)+'?x-oss-process=image/resize,m_fixed,h_40,w_40'"
                                     style="border-radius: 20px;border:1px solid #a1a1a1;"/>
                            </li>
                            <li class="recommend_item_info">
                                <span class="recommend_item_info_fomat">{{item.memberName==""?item.location:item.memberName}}&nbsp;</span>
                                <span style="color: #00a0e9;font-weight: bold">捐赠</span>
                                <span class="recommend_item_info_project">{{item.projectName==null?item.projectTypeName:item.projectName}}</span>
                                <span class="recommend_item_info_money">{{item.amount|format}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right_panel" id="div_project">
                <div class="div_title">
                    <h2 class="h2_title">项目推荐</h2>
                    <p class="p_tab_empty" id="p_no_relative">
                        <img src="/image/face.png" style="width: 30px;height: 30px;margin-right: 10px; float: none;">暂无项目推荐
                    </p>
                    <div class="recommend_item" v-for="item in items" v-cloak>
                        <ul>
                            <li>
                                <img :alt="item.projectName"
                                     :src="fileRoot + item.img+'?x-oss-process=image/resize,m_fill,h_40,w_40'"/>
                            </li>
                            <li class="recommend_item_word">
                                <a :href="'project/'+item.projectId" target="_blank">{{item.projectName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right_panel" id="div_question">
                <div class="div_title">
                    <h2 class="h2_title">捐赠流程</h2>
                    <p class="p_tab_empty" id="p_no_question">
                        <img src="/image/face.png" style="width: 30px;height: 30px;margin-right: 10px; float: none;">暂无捐赠流程
                    </p>
                    <a class="donate_progreee" v-for="(item,index) in items"
                       :href="item.linkUrl != '' ? item.linkUrl : '/'+'article/'+item.articleId " target="_blank"
                       v-cloak>
                        <p>{{index+1}}.{{item.title}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="themes/default/footer::footer"></div>
<!--直接捐赠弹出层-->
<div class="model fade" id="div_qr_donate" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"
     aria-hidden="true" data-backdrop='static'>
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: 450px">
            <div class="model-header">
                <button type="button" class="close" data-dismiss="model" aria-hidden="true">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;font-weight: 600;">
                    向基金会捐赠
                </h4>
            </div>

            <div class="model-body" style="text-align: center">
                <div style="float:left;margin-top: 20px; margin-left: 72px;">
                    <span style="width: 115px;text-align: right;" class="cu">
                        请选择项目类别 <i style="color: red">*</i>：
                    </span>
                    <select id="sel_project_type" class="cu" onchange="f_GetProject()">
                        <option value="0" class="cu">请选择项目类别</option>
                        <option v-for="item in items" id="name" :value="item.id" style="font-weight: 600;">
                            {{item.name}}
                        </option>
                    </select>
                    <!--<input type="hidden" :value="item.name">-->
                </div>
                <div style="float:left;clear: both;margin-top: 10px;margin-left: 80px;">
                    <span style="width:115px; display: inline-block; text-align: right;" class="cu">请选择项目：</span>
                    <select id="sel_project" class="cu" style="width: 124px;">
                        <option value="0" style="font-weight: 600;">请选择项目</option>
                        <option v-for="item in items" :value="item.projectId" class="cu">
                            {{item.projectName}}
                        </option>
                    </select>
                </div>
                <div id="span_money" style="clear: both;">
                    <label style="clear: both;margin-top: 10px;margin-bottom: 5px;" class="cu">
                        捐赠金额 <i style="color: red">*</i>
                    </label>
                    <div style="margin-bottom:10px;">
                        <span id="span_0" class="money span_donation money_1" style="font-weight: 600;">&yen;1</span>
                        <span id="span_1" class="money span_donation money_1" style="font-weight: 600;">&yen;5</span>
                        <span id="span_2" class="money span_donation money_1" style="font-weight: 600;">&yen;10</span>
                        <span id="span_3" class="money span_donation money_1" style="font-weight: 600;">&yen;20</span>
                        <span id="span_4" class="money span_donation money_1" style="font-weight: 600;">&yen;50</span>
                        <br/>
                        <span id="span_5" class="money span_donation money_1" style="font-weight: 600;">&yen;100</span>

                        <span id="other" class="money_1">
                            <span class="cu">其他捐赠金额(元)：</span>
                            <input id="in_oth_mo" type="number" class="tx_yuan cu"
                                   style="outline:none;border:none;border-color:#e41620;text-align: right;width: 52px"
                                   value=""/>
                        </span>
                        <div class="other_money_error error"
                             style="text-align: left;height: 40px;margin-left: 142px;margin-bottom: -24px;margin-top: -6px;">
                            金额不能为空
                        </div>
                        <div class="other_money_error_1 error"
                             style="text-align: left;height: 40px;margin-left: 142px;margin-bottom: -24px;margin-top: -6px;">
                            金额不能超过2位小数
                        </div>
                    </div>
                </div>

                <div>
                    <form action="">

                        <button class="donateSubmit button" onclick="f_Donate();" data-dismiss="model">
                            确认捐赠
                        </button>
                        <button class="button" data-dismiss="model" onclick="da_donate()">
                            大额捐赠
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--确认捐赠弹出层-->
<div class="model fade" id="div_cf_donate" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"
     aria-hidden="true" data-backdrop='static'>
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: 600px">
            <div class="model-header">
                <button type="button" class="close_qr">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;font-weight: 600;">
                    微信扫描二维码,向基金会捐赠
                </h4>
            </div>

            <div class="play">
                <div class="ordermsg" style="margin-bottom: -34px;border-bottom: 1px solid #e0dada;">
                    <span class="donate_msg" style="font-family: 微软雅黑;">捐赠单号为：<span id="orderNo"></span></span>
                    <span class="donate_msg orderMoney" style="margin-left: 60px;color:#847f7f">捐赠金额：&yen;<span
                            id="donateAmount" class="order_fund" style=""></span></span>
                </div>
                <div class="code_time">
                    距离二维码过期还有<span id="waitingPayTimerText" class="time" style="color: red"></span>秒
                </div>
                <div class="model-body" style="text-align: center">
                    <div class="model-body code_img row" style="text-align: center">
                        <div class="col-sm-6">
                            <div>
                                <img id="qrCodeImageId" height="200" width="200"/>
                                <div class="fresh">
                                    <img id="fushImage" class="img-rounded panel-body" th:src="@{~/image/reflush.png}"/>
                                    <div class="code_lost">点击刷新</div>
                                </div>
                                <div class="success">
                                    <img id="successImage" height="200" width="200" class="img-rounded panel-body"
                                         th:src="@{~/image/play.png}"/>
                                </div>
                            </div>
                            <div><img id="CodeImage" th:src="@{~/image/wxsm.png}"/></div>
                        </div>
                        <div class="col-sm-6">
                            <img id="qr_logo" th:src="@{~/image/sm.jpg}" alt="hjaksfh"
                                 style="height:205px; width:265px;display: none;"/>
                            <div class="orderMoney" style="margin-top: 33px;">
                                打开手机 <span style="color: red;">微信扫一扫</span>，扫描二维码
                            </div>
                        </div>
                    </div>
                    <div class="model-footer" style="text-align: center">
                        使用微信扫码捐赠
                    </div>
                </div>
            </div>
            <!--支付成功-->
            <div class="play_success" style="display: none">
                <div class="model-header">
                    <h4 class="model-title" style="width: 100%;text-align: center;">
                        支付成功
                    </h4>
                    <div class="model-body" style="text-align: center">
                        <img th:src="@{~/image/play.png}" style="width: 200px;"/>
                    </div>
                </div>
                <div class="model-footer" style="text-align: center">
                    使用微信捐赠成功
                </div>
            </div>
        </div>
    </div>
</div>

<!--大额捐赠弹出层-->
<div class="model fade" id="div_de_donate" tabindex="-1" role="dialog" aria-labelledby="lable_qr_donate"
     aria-hidden="true" data-backdrop='static'>
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: 450px">
            <div class="model-header">
                <button type="button" class="close" data-dismiss="model" aria-hidden="true">
                    &times;
                </button>
                <h4 class="model-title" style="width: 100%;text-align: center;font-weight: 600;">
                    大额捐赠
                </h4>
            </div>

            <div class="model-body" style="text-align: center">
                <div style="float:left;margin-top: 20px; margin-left: 32px;"><span
                        style="width: 115px;text-align: right;" class="cu">请选择项目类别
                    <i style="color: red">*</i>：
                </span>
                    <select id="sel_project_type_second" class="cu" style="width: 166px;" onchange="f_GetProject2()">
                        <option value="0" class="cu" selected='selected'>请选择项目类别</option>
                        <option v-for="item in items" class="cu" id="name2" :value="item.id" v-cloak>{{item.name}}
                        </option>
                    </select>
                </div>
                <div style="float:left;clear: both;margin-top: 20px; margin-left: 39px; margin-bottom: 20px;">
                    <span class="cu" style="width:115px; display: inline-block; text-align: right;">请选择项目：</span>
                    <select id="sel_project_second" class="cu" style="width: 124px;width: 166px;">
                        <option value="0" class="cu">请选择项目</option>
                        <option class="cu" v-for="item in items" :value="item.projectId" v-cloak>{{item.projectName}}
                        </option>
                    </select>
                </div>

                <div style="clear: both;">
                    <div class="row">
                        <label for="ipt_dnt_mobile" class="col_sm_4">
                            联系方式 <i style="color: red">*</i>：
                        </label>
                        <span class="col_sm_2">
                            <input type="text" class="cu" id="ipt_dnt_mobile"
                                   style=" width: 167px; height: 28px;margin-right: 20px;" readonly="readonly"/>
                        </span>
                    </div>
                    <div style="width:80%;margin-top:20px;">
                        <label for="ipt_dnt_amount" class="col_sm_4 cu">捐赠意向金额（元）<i style="color: red">*</i>：
                        </label>
                        <input type="number" class="cu" id="ipt_dnt_amount" placeholder="请输入金额" style="width:170px;"/>
                        <p class="code_error error cu" style="margin-left: 60px;">捐赠意向金额不能为空</p>
                        <p class="code_error_0 error cu" style="margin-left: 60px;">捐赠意向金额要大于0</p>
                    </div>
                    <div style="width:105%;margin-top:20px;">
                        <span>
                            <label for="ps" class="col_sm_4 cu">备注：</label>
                        </span>
                        <span>
                         <textarea name="ps" id="ps" class="cu" cols="19" rows="3"></textarea>
                        </span>
                    </div>
                </div>
                <div style="margin-top:10px;clear: both; margin-bottom: 20px;">
                    <button class="donateSubmit button" data-toggle="model" data-target="#div_qr_donate"
                            data-dismiss="model">
                        上一步
                    </button>
                    <button class="button da_donate_next" data-dismiss="model">
                        提交捐赠意向
                    </button>
                </div>
                <div class="model-footer cu" style="text-align: center;">
                    <i style="color: red">*</i> 大额捐赠需要签订合同，金额必须输入数字 <i style="color: red">*</i>。
                </div>
            </div>
        </div>
    </div>
</div>


<!--支付弹出层-->
<div class="model fade" id="div_pay_donate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="model-dialog" style="margin-top:100px">
        <div class="model-content" style="width: auto">
            <div class="model-header">
                <button type="button" class="close" data-dismiss="model" aria-hidden="true">
                    &times;
                </button>
                <h4 class="model-title" style="font-weight: 600; width: 100%;text-align: center;">
                    选择支付方式
                </h4>
            </div>
            <div class="model-body" style="text-align: center">

                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 微信
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">支付宝
                        </label>
                    </div>
                </div>

                <div style="margin-top:10px;clear: both; margin-bottom: 20px;">
                    <button class="button" data-toggle="model" data-target="#"
                            data-dismiss="model">
                        上一步
                    </button>
                    <button id="payType" class="button" data-toggle="model" data-target="#"
                            data-dismiss="model">
                        确定
                    </button>
                </div>

                <!--<ul class="nav nav-tabs">-->
                <!--<li class="active"><a href="#" data-target="#div_wx_img" data-toggle="tab">微信</a></li>-->
                <!--<li><a href="#" data-target="#div_ali_img" data-toggle="tab">支付宝</a></li>-->
                <!--</ul>-->

                <!--<div class="tab-content">-->
                <!--<div class="tab-pane active Content" id="div_wx_img">-->
                <!--<img src="/image/wxPay.jpg" style="width: 300px;height: 400px" alt="">-->
                <!--<div id="wxpay" class="btn btn-info cu">确认</div>-->
                <!--</div>-->
                <!--<div class="tab-pane " id="div_ali_img">-->
                <!--<img src="/image/aliPay.jpg" style="width: 300px;height: 400px" alt="">-->
                <!--<div id="alipay" class="btn btn-info cu">确认</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>


<!--全局JS-->
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/plugin/banner/js.js}"></script>
<script th:src="@{/plugin/pagination/pagination.js}"></script>
<!--页面JS-->
<!--##IMPORTANT 此处加上th:inline是为了在JS中使用模板引擎-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var pageSize = 8;
    var pageNum = 1;
    var pageCount;
    var vueContent;
    var vueProject;
    var vueProjectSecond;
    var otherMoney;

    var flag = 0;
    var span_money;
    var donateType = 0;

    $(document).ready(function () {
        f_getBanner();
        f_GetArticle();
        f_getRecommend();
        f_getQuestion();
        f_GetRecentDonate();
        f_GetDonationInfo();
        f_GetProjectType();
        f_GetProjectType2();

    });

    function openQr() {
        if (memberInfo != null) {
            if (memberInfo.accepterId <= 0) {
                $("#div_qr_donate").model('show');
                $("#in_oth_mo").val("");
            } else {
                layer.alert("授捐人不能提交捐赠。如要捐赠，请用会员号登陆。", {
                    icon: 2,
                    skin: 'layer-ext-moon'
                });
            }
        } else {
            $("#div_qr_donate").model('show');
            $("#in_oth_mo").val("");
        }
    }

    function f_OnPageChange(newPage) {
        pageNum = newPage;
        f_GetArticle();
    }

    //获取首页文章，默认按照创建时间倒序排列
    function f_GetArticle() {
        $.ajax({
            url: '/index/project',
            data: {pageNum: pageNum, pageSize: pageSize},
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    pageCount = data.result.pages;
                    pageNum = data.result.pageNum;
                    $("#div_page").attr("pageNum", pageNum).attr("pageCount", pageCount).attr("pageExtra", 3);
                    f_InitPagination($("#div_page"));
                    if (vueContent == undefined) {
                        vueContent = new Vue({
                            el: '#div_project_list',
                            data: {
                                items: data.result.list
                            }
                        });
                    } else {
                        for (var i = 0; i < data.result.list.length; i++) {
                            Vue.set(vueContent.items, i, data.result.list[i]);
                        }
                        vueContent.items.splice(data.result.list.length);
                        scrollTo(0, 0);
                    }
                }
            }
        });
    }

    //获取Banner广告
    function f_getBanner() {
        $.ajax({
            url: '/block/project',
            data: {blockId: 1},
            type: 'post',
            dataType: 'json',
            success: function (data) {
                //绑定Banner
                if (data.code === 200) {
                    new Vue({
                        el: '#ul_img',
                        data: {
                            items: data.result
                        }
                    });
                }
                //开始轮播图片
                f_begin()
            }
        });
    }

    //获取常见问题
    function f_getQuestion() {
        $.ajax({
            url: '/block/article',
            type: 'post',
            data: {blockId: 3},
            dataType: 'json',
            success: function (data) {
                if (data.result.length === 0) {
                    $("#p_no_question").show();
                } else {
                    if (data.code === 200) {
                        new Vue({
                            el: '#div_question',
                            data: {
                                items: data.result,
                            }
                        });
                    }
                }
            }
        });
    }


    //获取推荐项目
    function f_getRecommend() {
        $.ajax({
            url: '/block/project',
            type: 'post',
            data: {blockId: 2},
            dataType: 'json',
            success: function (data) {
                if (data.result.length === 0) {
                    $("#p_no_relative").show();
                } else {
                    if (data.code === 200) {
                        new Vue({
                            el: '#div_project',
                            data: {
                                items: data.result
                            }
                        });
                    }
                }
            }
        });
    }

    //获取最近捐赠
    function f_GetRecentDonate() {
        $.ajax({
            url: '/donate/recent',
            type: 'post',
            data: {num: 7},
            dataType: 'json',
            success: function (data) {
                if (data.result.length === 0) {
                    $("#p_no_recent").show();
                } else {
                    if (data.code === 200) {
                        new Vue({
                            el: "#div_recent",
                            data: {
                                items: data.result
                            }
                        });
                    }
                }
            }
        });
    }

    //获取所有项目类型
    function f_GetProjectType() {
        $.ajax({
            url: '/project/type',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    new Vue({
                        el: "#sel_project_type",
                        data: {
                            items: data.result
                        }
                    });
                }
            }
        });
    }

    //获取所有项目
    function f_GetProject() {
        var tid = $("#sel_project_type").val();
        if (tid !== "0") {
            $.ajax({
                url: '/project/all',
                data: {tid: tid},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.code === 200) {
                        if (vueProject == undefined) {
                            vueProject = new Vue({
                                el: "#sel_project",
                                data: {
                                    items: data.result
                                }
                            });
                        } else {
                            for (var i = 0; i < data.result.length; i++) {
                                Vue.set(vueProject.items, i, data.result[i]);
                            }
                            vueProject.items.splice(data.result.length);
                        }
                    }
                }
            });

        }
    }

    function f_GetDonationInfo() {
        $.ajax({
            url: '/index/report',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    new Vue({
                        el: "#ul_total",
                        data: {
                            model: data.result
                        }
                    });
                }
            }
        });
    }

    var inp_flag = 0;
    //    //捐赠意向金额
    $("#in_oth_mo").blur(function () {
        if (flag == 0) {
            var oth_money = $("#in_oth_mo").val();
            var result = oth_money.toString();
            var spot = result.split(".")[1];
            if (oth_money == "") {
                $(".other_money_error_1").hide();
                $(".other_money_error").show();
            } else {
                $(".other_money_error_1").hide();
                $(".other_money_error").hide();
                if (spot == undefined) {
                } else {
                }
                if (spot.length >= 3) {
                    $(".other_money_error_1").show();
                } else {
                    $(".other_money_error_1").hide();
                }
            }
        }
    })

    //选择金额
    $(".span_donation").click(function () {
        $("#in_oth_mo").val("");
        $(".money_2").removeClass("money_2");
        $(this).addClass("money_2");
        flag = 1;
        inp_flag = 1;
        var str = $(this).html();
        var reg = /\d+/g;
        var ms = str.match(reg);
        span_money = ms;
        $(".other_money_error").hide();
        $(".other_money_error_1").hide();
    })

    //金额取消选择
    $(document).bind("click", function (e) {
        var target = $(e.target);
        if (target.closest(".span_donation").length == 0) {
            $(".money_2").removeClass("money_2");
            flag = 0;
        }
    })

    $("#other").change(function () {
        $(".money_2").removeClass("money_2");
        otherMoney = $(".tx_yuan").val();
        span_money = otherMoney;
    })

    $("#other").click(function () {
        $(".money_2").removeClass("money_2");
    })


    $("#da").click(function () {
        $(this).removeClass("money_1");
        $(this).addClass("money_2");
    })


    //翻页回调函数
    function f_PageCallBack(newPage) {
        pageNum = newPage;
        f_GetArticle();
    }

    $(".donate_button").click(function () {
        $(".tx_yuan").val("");
    })

    function f_Donate() {
        if (donateType == 0) {
            var projectType = $("#sel_project_type").find("option:selected").text();
            var input_result = $("#in_oth_mo").val().toString().split(".")[1];
            var input_lenght;
            if (input_result != undefined) {
                input_lenght = input_result.length;
            } else {
                input_lenght = -1;
            }
//            alert(input_lenght);
//            var s = /^[0-9]*$/;
            var s = /^\d+(\.\d{1,2})?$/;
            if (projectType == "请选择项目类别") {
                layer.confirm('您还没有选择项目类别', {
                    btn: ['重新选择', '取消'] //按钮
                }, function () {
                    $("#div_qr_donate").model('show');
                    $("#in_oth_mo").val("");
                    layer.closeAll('dialog');
                }, function () {
                    $("#div_qr_donate").model('hide');
                });
            } else if (!(flag === 1 || (otherMoney != "" && otherMoney != undefined && s.test($("#in_oth_mo").val())))) {
                layer.confirm('您选择或输入的金额有误', {
                    btn: ['重新选择或输入', '取消'] //按钮
                }, function () {
                    $("#div_qr_donate").model('show');
                    $("#in_oth_mo").val("");
                    layer.closeAll('dialog');
                }, function () {
                    $("#div_qr_donate").model('hide');
                });
            } else if ($(".tx_yuan").val() !== "" && $(".tx_yuan").val() <= 0) {
                layer.confirm('请输入正确金额', {
                    btn: ['重新选择或输入', '取消'] //按钮
                }, function () {
                    $("#div_qr_donate").model('show');
                    $("#in_oth_mo").val("");
                    layer.closeAll('dialog');
                }, function () {
                    $("#div_qr_donate").model('hide');
                });
            } else {
                $("#div_cf_donate").model('show');
//                $("#div_pay_donate").model('show');
                var projectTypeId = $("#sel_project_type").val();
                var projectId = $("#sel_project").val();
                var amount = span_money * 100;
                $("#donateAmount").html(span_money);
                $.ajax({
                    url: '/donate/donate',
                    type: 'post',
                    data: {
                        projectTypeId: projectTypeId,
                        projectId: projectId,
                        amount: amount
                    },
                    dataType: 'json',
                    success:
                        function (data) {
                            if (data.code === 200) {
                                $("#qrCodeImageId").attr("src", data.result.qrCodeImageBase64);
                                $("#orderNo").html(data.result.orderNo);
                                checkPayStatusInterval = setInterval("checkPayStatus()", 3000);
                            }
                        }
                });
                var timer = 120;

                function Countdown() {
                    if (timer >= 1) {
                        timer -= 1;
                        t = setTimeout(function () {
                            Countdown();
                        }, 1000);
                        $("#waitingPayTimerText").html(timer);
                    } else {
                        $("#qrCodeImageId").attr("src", "/image/error.jpg");
                        $(".fresh").css("z-index", "3");
                        $(".code_time").html("二维码已经失效，请刷新！");
                    }
                }

                Countdown();
            }
        }

    }

    function checkPayStatus() {
        var orderNo = $("#orderNo").html();
        $.ajax({
            url: '/wxpay/status',
            type: 'post',
            data: {
                orderNo: orderNo
            },
            dataType: 'json',
            success:
                function (data) {
                    if (data.code === 200) {
                        var returnCode = data.result.notify_return_code;
                        var resultCode = data.result.notify_result_code;
                        var errCodeDesc = data.result.notify_err_code_desc;
                        if (returnCode != undefined && resultCode != undefined && resultCode === "SUCCESS" && returnCode === "SUCCESS") {
                            $(".code_time").html("支付成功。<span id=\"autoCloseAfterPaidTimerText\" class=\"time\" style=\"color: red\">5</span>秒自动关闭。");
                            stopCount();
                            autoCloseAfterPaidInterval = setInterval("autoCloseAfterPaid()", 1000);
                            $("#qrCodeImageId").attr("src", "/image/error.jpg");
                            $(".success").css("z-index", "6");
                        } else {
                            $(".code_time").html("<span class=\"notifyErrCodeDesc\" style=\"color: red\">errCodeDesc</span>");
                        }
                    }
                }
        });
    }

    //图片不存在时
    function nofind() {
        var img = event.srcElement;
        img.src = "/image/error.jpg";
        img.onerror = null;
    }


    $(".code_img").mouseover(function () {
        $("#qr_logo").fadeIn(2000);
    })


    $(".code_img2").mouseover(function () {
        $("#qr_logo2").fadeIn(2000);
    })

    $(".close_qr").click(function () {
        $("#div_cf_donate").model('hide');
        $("#div_de_donate_step3").model('hide');
        $("#qrCodeImageId").attr("src", "/image/error.jpg");
        stopCount();
    })

    var autoCloseTimeout = 5;

    //支付成功
    function autoCloseAfterPaid() {
        if (autoCloseTimeout > 1) {
//            $("#qrCodeImageId").attr("src", "/image/play.jpg");
            autoCloseTimeout -= 1;
            $("#autoCloseAfterPaidTimerText").html(autoCloseTimeout);
        } else {
            clearInterval(autoCloseAfterPaidInterval);
            $(".close_qr").click();
            window.location.reload();
        }
    }


    //关闭函数
    function stopCount() {
        clearTimeout(t);
        clearInterval(checkPayStatusInterval);
    }

    //刷新二维码
    $(".fresh").click(function () {
        $(".code_time").html("距离二维码过期还有<span id=\"waitingPayTimerText\" class=\"time\" style=\"color: red\"></span>秒");
        $(".fresh").css("z-index", "-1");
        $("#qrCodeImageId").removeClass("qrCodeImageId");
        var projectTypeId = $("#sel_project_type").val();
        var projectId = $("#sel_project").val();
        var amount = span_money * 100;
        $(".order_fund").html(amount / 100);
        $.ajax({
            url: '/donate/donate',
            type: 'post',
            data: {
                projectTypeId: projectTypeId,
                projectId: projectId,
                amount: amount
            },
            dataType: 'json',
            success:
                function (data) {
                    if (data.code === 200) {
                        $("#qrCodeImageId").attr("src", data.result.qrCodeImageBase64);
                        $("#orderNo").html(data.result.orderNo);
                    }
                }
        });
        var timer = 120;

        function Countdown() {
            if (timer >= 1) {
                timer -= 1;
                t = setTimeout(function () {
                    Countdown();
                }, 1000);
                $(".time").html(timer);
            } else {
                $("#qrCodeImageId").attr("src", "/image/error.jpg");
                $(".fresh").css("z-index", "3");
                $("#qrCodeImageId").attr("class", "qrCodeImageId");
                $(".code_time").html("二维码已经失效，请刷新！");
            }
        }

        Countdown();
    })

    //大额捐赠
    function da_donate() {
        $("#ipt_dnt_amount").val("");
        if (memberInfo != null) {
            $("#ipt_dnt_mobile").val(memberInfo.mobile);
            $("#div_de_donate").model('show');
        } else {
            layer.alert("大额捐赠需要签订捐赠合同，请登录后进行大额捐赠");
            $("#div_cf_donate").model('hide');
            f_showCode();
            $("#myModal").model('show');
        }
    }

    //    //捐赠意向金额
    $("#ipt_dnt_amount").blur(function () {
        if ($("#ipt_dnt_amount").val() == "") {
            $(".code_error").show();
            $(".code_error_0").hide();
            x
        } else {
            if ($("#ipt_dnt_amount").val() <= 0) {
                $(".code_error").hide();
                $(".code_error_0").show();
            } else {
                $(".code_error_0").hide();
                $(".da_donate_next").attr("disabled", false);
            }
        }
    })


    //大额捐赠第二步
    $(".da_donate_next").click(function () {
//        alert(memberInfo.accepterId);
        if (memberInfo.accepterId <= 0) {
            var da_money = $("#ipt_dnt_amount").val();
            var projectType = $("#sel_project_type_second").find("option:selected").text();
            var phone = $("#ipt_dnt_mobile").val();
            var remark = $("#ps").val();
            if (projectType == "请选择项目类别") {
                parent.layer.confirm('您还没有选择项目类别', {
                    btn: ['重新选择', '取消'] //按钮
                }, function () {
                    $("#div_de_donate").model('show');
                    layer.closeAll('dialog');
                }, function () {
                    $("#div_de_donate").model('hide');
                });
            } else if (da_money == "") {
                parent.layer.confirm('您还没有输入金额', {
                    btn: ['重新输入', '取消'] //按钮
                }, function () {
                    $("#div_de_donate").model('show');
                    layer.closeAll('dialog');
                }, function () {
                    $("#div_de_donate").model('hide');
                });
            } else if (da_money <= 0) {
                parent.layer.confirm('请输入正确金额', {
                    btn: ['重新输入', '取消'] //按钮
                }, function () {
                    $("#div_de_donate").model('show');
                    layer.closeAll('dialog');
                }, function () {
                    $("#div_de_donate").model('hide');
                });
            } else {
                layer.confirm("您的捐赠意向金额为：<b style='color: red'>" + da_money + "</b>元<br/>" + "捐赠的项目类型：<b style='color: red'>" + projectType + "</b><br/><br/>" + "<i style=\"color: red\">*</i> 提交大额捐赠后会有工作人员与您联系，确定具体捐赠细节 <i style=\"color: red\">*</i>", {
                        btn: ['确定提交', '重新输入'] //按钮
                    }, function () {
                        $("#div_de_donate").model('hide');
                        //添加捐赠意向
                        var projectTypeId = $("#sel_project_type_second").val();
                        var projectId = $("#sel_project_second").val();
                        da_money = da_money * 100;
                        $.ajax({
                            url: '/index/addIntention',
                            type: 'post',
                            data: {
                                projectId: projectId,
                                projectTypeId: projectTypeId,
                                intentionAmount: da_money,
                                contactPhone: phone,
                                remark: remark
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.code == 200) {
                                    layer.alert("提交捐赠意向成功。",
                                        {
                                            icon: 1,
                                            skin: 'layer-ext-moon'
                                        },
                                        function () {
                                            window.location.href = "/home/apply";
                                        });
                                } else if (data.code === 405) {
                                    layer.confirm(data.msg, {btn: ["现在去完善资料", "暂不"]},
                                        function () {
                                            window.location.href = "/home/edit"
                                        },
                                        function () {
                                            layer.closeAll();
                                        }
                                    )
                                } else {
                                    layer.alert(data.msg, {
                                            icon: 2,
                                            skin: 'layer-ext-moon'
                                        },
                                        function () {
                                            window.location.href = "/index";
                                        });
                                }
                            }
                        })
                    }
                    ,

                    function () {
                        $("#div_de_donate").model('show');
                        layer.closeAll('dialog');
                    }
                );
            }
        } else {
            layer.alert("授捐人不能提交捐赠。", {
                icon: 2,
                skin: 'layer-ext-moon'
            });
        }

    })

    //获取所有项目类型
    function f_GetProjectType2() {
        $.ajax({
            url: '/project/type',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.code === 200) {
                    new Vue({
                        el: "#sel_project_type_second",
                        data: {
                            items: data.result
                        }
                    });
                }
            }
        });
    }

    //获取所有项目
    function f_GetProject2() {
        var tid = $("#sel_project_type_second").val();
        if (tid !== "0") {
            $.ajax({
                url: '/project/all',
                data: {tid: tid},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.code === 200) {
                        if (vueProjectSecond == undefined) {
                            vueProjectSecond = new Vue({
                                el: "#sel_project_second",
                                data: {
                                    items: data.result
                                }
                            });
                        } else {
                            for (var i = 0; i < data.result.length; i++) {
                                Vue.set(vueProjectSecond.items, i, data.result[i]);
                            }
                            vueProjectSecond.items.splice(data.result.length);
                        }
                    }
                }
            });

        }
    }

    //测试支付宝支付
    $("#alipay").click(function () {
        $.ajax({
            url: '/donate/aliPayDonate',
            data: {projectTypeId: 0, projectId: 2, amount: 200},
            dataType: 'json',
            type: 'post',
            success: function (data) {
                if (data.code === 200) {
                    setInterval("checkAliPayStatus()", 3000);
                }
                alert("成功");
            }
        });
    })


    //测试支付宝查询接口
    function checkAliPayStatus() {
        $.ajax({
            url: '/aliPay/aliQuery',
            data: {},
            dataType: json,
            type: 'post',
            success: function () {

            }
        })
    }


    /*]]>*/
</script>
</body>
</html>