<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />

    <title>登录</title>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />

    <style type="text/css">
        #div_menu a{
            display: block;
            margin: 10px;
        }
        #div_menu span{
            float: left;
            font-size: 20px;
        }
        #div_menu ul{
            margin-left: 30px;
            display: none;
        }
        .table_member_content{
            width: 60%;
            margin-left: 24%;
            text-align: center;
            line-height: 50px;
        }
        .table_member_content input{
            line-height: 28px;
            margin-top: 11px;
            margin-right: 60px;
        }
        .table_member_content tr{
            border-bottom: 1px #ccc dashed;
        }

        .input_text{
            width: 234px;
        }

        .error{
            color:red;
            display: none;
            margin-top: -16px;
            margin-right: 173px;
            margin-bottom: -10px;
        }
    </style>
</head>
<body>

<div th:replace="themes/default/header::header"></div>

<div class="center-block" style="width: 1200px;">
    <div class="row">
        <div class="col-sm-12">
            <div id="div_navbar" style="margin-top: 10px">
                <ul>
                    <li><a href="#">登录</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="height: 500px; padding-top: 20px">
            <table class="table_member_content">
                <tr>
                    <td>手机号码：</td>
                    <td style="margin-right: 250px;display: block;">
                        <input type="text" class="input_text ipt_mobile" id="ipt_mobile" placeholder="请输入11位手机号码" />
                        <div class="mobile_error error">手机号码格式不正确</div>
                    </td>
                </tr>
                <tr>
                    <td>登录密码：</td>
                    <td style="margin-right: 250px;display: block;">
                        <input type="password" class="input_text ipt_pwd" id="ipt_pwd" placeholder="请输入6位密码"/>
                        <div class="pw_error error"  style="margin-right: 210px;">密码不能为空</div>
                        <div class="pw_error_0 error"  style="margin-right: 193px;">密码不能少于6位</div>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: none">验证码：</td>
                    <td style="border-bottom: none;margin-right: 158px;display: block;">
                        <input type="text" class="input_text ipt_code" id="ipt_code" placeholder="请输入验证码"/>
                        <img src="Verify/code.jpg" class="verify_code" height="30" width="90"/>
                        <div class="code_error error" style="margin-right: 293px;">验证码不能为空</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <input type="checkbox" id="ipt_cookie" style="margin-left: -150px;"/>下次自动登录
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="line-height: 20px;padding-top: 10px;padding-bottom: 10px;padding-left: 10%">
                        <span><a th:href="@{/resetpw}">忘记密码?</a></span>
                        <span><a th:href="@{/changepw}">修改密码?</a></span>
                        <button class="btn btn-info btn_login" style="margin-right: 200px;width: 80px;padding-left: 4px">登录</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="themes/default/footer::footer"></div>

<!--全局JS-->
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/plugin/layer/layer.js}"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#ipt_mobile").focus();
    })

    $(".btn_login").click(function () {
        var mobile=$("#ipt_mobile").val();
        var pwd=$("#ipt_pwd").val();
        var code=$("#ipt_code").val();
        var autoLogin=$("#ipt_cookie").is(':checked');
        $.ajax({
            url:"/login/submit",
            data:{mobile:mobile,code:code,pwd:pwd,autoLogin:autoLogin},
            type:'post',
            dataType:'json',
            success:function (data) {
                if (data.code===407){
                    window.location.href = "/home";
                }else{
                    layer.alert(data.msg);
                }
            }
        });
    });

    $(".verify_code").click(function () {
        $(this).attr("src","Verify/code.jpg?t="+Math.random());
    });

    function f_redirect(){
        window.location.href="member.html";
    }



    //手机号码
    $(".ipt_mobile").blur(function(){
        var mobile = /^0{0,1}(13[0-9]|15[7-9]|153|156|18[7-9])[0-9]{8}$/;
        if(!mobile.test($(".ipt_mobile").val())){
            $(".mobile_error").show();
        }else{
            $(".mobile_error").hide();
        }
    })

    //密码
    $(".ipt_pwd").blur(function(){
        if($(".ipt_pwd").val() == ""){
            $(".pw_error_0").hide();
            $(".pw_error").show();
        }else{
            $(".pw_error").hide();
            if($(".ipt_pwd").val().length < 6){
                $(".pw_error_0").show();
            }else{
                $(".pw_error_0").hide();
            }
        }
    })

    //验证码
    $(".ipt_code").blur(function(){
        if($(".ipt_code").val() == ""){
            $(".code_error").show();
        }else{
            $(".code_error").hide();
        }
    })

    /*]]>*/

</script>
</body>
</html>