<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="section">

<body>
<div>

    <div class="section2">
        <div class="section_container2">
            <div class="section_img">
                <img src="http://1707030217.site.make.yun300.cn/repository/image/gLYESo1dQ3q4u5UdPD8meA.jpg?t=1500961460485"/><br/>
                <div class="section_ps">关注广东省世纪爱心慈善基金会</div>
            </div>
            <div class="secion_main2">
                办公地址：广州市黄埔大道西159号<br/>富星商贸大厦西塔9楼BC单元<br/>联系电话：020-85588859<br/>联系邮箱：<a
                    href="/cdn-cgi/l/		email-protection#0f7c676665666e667766614f696077626e6663216c6062"><span
                    class="__cf_email__" data-cfemail="	35465d5c5f5c545c4d5c5b75535a4d58545c591b565a58">[email	&#160;protected]</span></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>