<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.AccepterMapper">

    <resultMap id="AccepterDetailResultMap" type="com.becheer.donation.model.Accepter">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="project_type_id" jdbcType="INTEGER" property="projectTypeId"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="acceptor_no" jdbcType="VARCHAR" property="acceptorNo"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="role" jdbcType="INTEGER" property="role"/>
        <result column="remark_" jdbcType="VARCHAR" property="remark"/>
        <result column="enable_" jdbcType="INTEGER" property="enable"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createby"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="accepted_amount" jdbcType="BIGINT" property="acceptedAmount"/>
        <result column="received_amount" jdbcType="BIGINT" property="receivedAmount"/>
        <result column="avator_img" jdbcType="VARCHAR" property="avator"/>
    </resultMap>

    <resultMap id="accepterInfoResultMap" type="com.becheer.donation.model.extension.accepter.AccepterInfoExtension">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="acceptor_no" jdbcType="VARCHAR" property="acceptorNo"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="received_amount" jdbcType="BIGINT" property="receivedAmount"/>
        <result column="avator_img" jdbcType="VARCHAR" property="avator"/>
    </resultMap>


    <select id="selectAccepterByNo" parameterType="java.lang.String" resultMap="AccepterDetailResultMap">
        SELECT
          *
        FROM
          dnt_acceptor
        WHERE
          acceptor_no =#{acceptorNo,jdbcType=VARCHAR}
    </select>

    <select id="selectAccepterById" parameterType="java.lang.Long" resultMap="accepterInfoResultMap">
        SELECT
          id_,
          member_id,
          enable_,
          acceptor_no,
          name,
          mobile,
          id_card,
          address,
          received_amount,
          avator_img
        FROM
          dnt_acceptor
        WHERE
          id_ = #{aid,jdbcType=BIGINT}
    </select>
</mapper>