<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.AllocatePlanMapper">

    <resultMap id="accepterAllocatePlanListMapper" type="com.becheer.donation.model.extension.allocate.AllocatePlanExtension">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="allocate_date" jdbcType="TIMESTAMP" property="allocateDate"/>
        <result column="amount" jdbcType="BIGINT" property="amount"/>
        <result column="allocated_amount" jdbcType="BIGINT" property="allocateAmount"/>
        <result column="deadline" jdbcType="TIMESTAMP" property="deadLine"/>
        <result column="enable_" jdbcType="INTEGER" property="enable"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <select id="selectAllocatePlanByContractId" parameterType="java.lang.Long" resultMap="accepterAllocatePlanListMapper">
        SELECT
        id_,
        title,
        allocate_date,
        amount,
        allocated_amount,
        deadline,
        enable_,
        status
        FROM
        dnt_allocate_plan
        WHERE
        enable_=1
        AND appropriation_contract_id=#{contractId,jdbcType=BIGINT}
        ORDER BY id_
    </select>

    <select id="selectAllocatePlanByMemberId" parameterType="java.lang.Long" resultMap="accepterAllocatePlanListMapper">
        SELECT
        a.id_,
        a.title,
        a.allocate_date,
        a.amount,
        a.allocated_amount,
        a.deadline,
        a.enable_,
        a.status
        FROM
        dnt_allocate_plan a
        WHERE
        a.enable_=1
        AND a.appropriation_contract_id IN (SELECT id_ FROM dnt_appropriation_contract c where c.acceptor_id = #{accepterId,jdbcType=BIGINT} and c.status = 3)
		ORDER BY a.id_ DESC
    </select>

</mapper>