<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.AppealMapper">

    <resultMap id="MemberAppealResultMap" type="com.becheer.donation.model.extension.appeal.MemberAppealExtension">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="appeal_title" jdbcType="VARCHAR" property="appealTitle"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="contract_name" jdbcType="VARCHAR" property="contractName"/>
        <result column="appeal_method" jdbcType="VARCHAR" property="appealMethod"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="MemberAppealDetailResultMap"
               type="com.becheer.donation.model.extension.appeal.MemberAppealDetailExtension">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="appeal_title" jdbcType="VARCHAR" property="title"/>
        <result column="appeal_method" jdbcType="VARCHAR" property="method"/>
        <result column="appeal_content" jdbcType="VARCHAR" property="content"/>
        <result column="contract_name" jdbcType="VARCHAR" property="contractName"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="SelectAppealByMemberId" parameterType="java.lang.Long" resultMap="MemberAppealResultMap">
        SELECT
            a.id_,
            a.appeal_title,
            p.project_name,
            c.contract_name,
            a.appeal_method,
            a.create_time,
            a.status
        FROM dnt_appeal a
        LEFT JOIN dnt_project p on a.project_id=p.id_
        LEFT JOIN dnt_contract c on a.contract_id=c.id_
        WHERE a.enable_ = 1 AND a.member_id =#{memberId,jdbcType=BIGINT}
        ORDER BY create_time DESC
    </select>

    <select id="SelectAppealDetail" resultMap="MemberAppealDetailResultMap">
        SELECT
            a.id_,
            a.appeal_title,
            p.project_name,
            c.contract_name,
            a.appeal_method,
            a.appeal_content,
            a.`status`,
            a.create_time
        FROM dnt_appeal a
        LEFT JOIN dnt_project p on p.id_=a.project_id
        LEFT JOIN dnt_contract c on c.id_=a.contract_id
        WHERE a.enable_ = 1
        AND a.id_= #{param1}
        AND a.member_id= #{param2}
    </select>

    <insert id="InsertAppeal" parameterType="com.becheer.donation.model.extension.appeal.AppealDetailExtension">
        INSERT INTO dnt_appeal
         (
          member_id,
          contract_id,
          project_id,
          appeal_title,
          appeal_content,
          appeal_method,
          appeal_type,
          enable_,
          create_time,
          status
          )
        VALUES
          (
          #{memberId,jdbcType=BIGINT},
          #{contractId,jdbcType=BIGINT},
          #{projectId,jdbcType=BIGINT},
          #{appealTitle,jdbcType=VARCHAR},
          #{appealContent,jdbcType=VARCHAR},
          #{appealMethod,jdbcType=VARCHAR},
          1,
          1,
          now(),
          0
          )
    </insert>

</mapper>