<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.AttachMapper">

    <resultMap id="ListResultMap" type="com.becheer.donation.model.extension.attach.AttachExtension">
        <id column="id_" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="ref_table" jdbcType="VARCHAR" property="refTable" />
        <result column="ref_id" jdbcType="VARCHAR" property="refId" />
        <result column="attach_url" jdbcType="VARCHAR" property="attachUrl" />
        <result column="remark_" jdbcType="VARCHAR" property="remark" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="attach_type" jdbcType="VARCHAR" property="attachType" />
        <result column="attach_size" jdbcType="BIGINT" property="attachSize" />
    </resultMap>

    <select id="selectAttach" resultMap="ListResultMap">
        SELECT * FROM dnt_attach WHERE ref_id = #{param2} AND ref_table = #{param1} AND enable_ = 1
    </select>
</mapper>