<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.BlockMapper">

    <resultMap id="BlockProjectResultMap" type="com.becheer.donation.model.extension.ListProjectExtension">
        <id column="id_" jdbcType="BIGINT" property="projectId" />
        <result column="project_name" jdbcType="VARCHAR" property="projectName" />
        <result column="summary" jdbcType="VARCHAR" property="summary" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="thumb_img" jdbcType="VARCHAR" property="img" />
    </resultMap>

    <resultMap id="BlockArticleResultMap" type="com.becheer.donation.model.extension.ListArticleExtension">
        <id column="id_" jdbcType="BIGINT" property="articleId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="summary" jdbcType="VARCHAR" property="summary" />
        <result column="create_time" jdbcType="DATE" property="createTime" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="thumb_img" jdbcType="VARCHAR" property="img" />
    </resultMap>

    <select id="selectProjectByBlockId" parameterType="java.lang.Long" resultMap="BlockProjectResultMap">
        SELECT
        p.id_,p.project_name,p.summary,p.create_time,p.thumb_img,b.sort
        FROM dnt_project p
        RIGHT JOIN dnt_block_detail b ON p.id_=b.ref_record_id and b.block_id=#{id,jdbcType=BIGINT}
        ORDER BY b.sort ASC
    </select>

    <select id="selectArticleByBlockId" parameterType="java.lang.Long" resultMap="BlockArticleResultMap">
        SELECT
        a.id_,a.title,a.summary,a.create_time,a.thumb_img,b.sort
        FROM dnt_article a
        RIGHT JOIN dnt_block_detail b ON a.id_=b.ref_record_id and b.block_id=#{id,jdbcType=BIGINT}
        ORDER BY b.sort ASC
    </select>

</mapper>