<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.DntPaymentPlanMapper">

    <resultMap id="BaseResultMap" type="com.becheer.donation.model.DntPaymentPlan">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="ref_table" jdbcType="VARCHAR" property="refTable"/>
        <result column="ref_record_id" jdbcType="BIGINT" property="refRecordId"/>
        <result column="payment_date" jdbcType="BIGINT" property="paymentDate"/>
        <result column="amount" jdbcType="BIGINT" property="amount"/>
        <result column="received_amount" jdbcType="BIGINT" property="receivedAmount"/>
        <result column="deadline" jdbcType="BIGINT" property="deadline"/>
        <result column="remark_" jdbcType="VARCHAR" property="remark"/>
        <result column="enable_" jdbcType="BIGINT" property="enable"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="payment_method_id" jdbcType="BIGINT" property="paymentMethodId"/>
        <result column="paylog_ref_table" jdbcType="VARCHAR" property="paylogRefTable"/>
        <result column="paylog_ref_record_id" jdbcType="BIGINT" property="paylogRefRecordId"/>
        <result column="status" jdbcType="BIGINT" property="status"/>
    </resultMap>

    <insert id="insert" parameterType="com.becheer.donation.model.DntPaymentPlan"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dnt_payment_plan
        (
            title,
            ref_table,
            ref_record_id,
            payment_date,
            amount,
            received_amount,
            deadline,
            remark_,
            enable_,
            create_time,
            create_by,
            payment_method_id,
            paylog_ref_table,
            paylog_ref_record_id,
            status,
            order_no
        )
        VALUES
        (
            #{title, jdbcType=INTEGER},
            #{refTable, jdbcType=VARCHAR},
            #{refRecordId, jdbcType=INTEGER},
            #{paymentDate, jdbcType=DATE},
            #{amount, jdbcType=INTEGER},
            #{receivedAmount, jdbcType=INTEGER},
            #{deadline, jdbcType=DATE},
            #{remark, jdbcType=VARCHAR},
            #{enable, jdbcType=INTEGER},
            now(),
            1,
            #{paymentMethodId, jdbcType=INTEGER},
            #{paylogRefTable, jdbcType=VARCHAR},
            #{paylogRefRecordId, jdbcType=INTEGER},
            #{status, jdbcType=INTEGER},
            #{orderNo, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.becheer.donation.model.DntPaymentPlan">
        UPDATE dnt_payment_plan
        SET
            title = #{title, jdbcType=INTEGER},
            ref_table = #{refTable, jdbcType=VARCHAR},
            ref_record_id = #{refRecordId, jdbcType=INTEGER},
            payment_date = #{paymentDate, jdbcType=DATE},
            amount = #{amount, jdbcType=INTEGER},
            received_amount = #{receivedAmount, jdbcType=INTEGER},
            deadline = #{deadline, jdbcType=DATE},
            remark_ = #{remark, jdbcType=VARCHAR},
            enable_ = #{enable, jdbcType=INTEGER},
            #{updateTime, jdbcType=DATE},
            update_by = #{updateBy, jdbcType=INTEGER},
            payment_method_id = #{paymentMethodId, jdbcType=INTEGER},
            paylog_ref_table = #{paylogRefTable, jdbcType=VARCHAR},
            paylog_ref_record_id = #{paylogRefRecordId, jdbcType=INTEGER},
            status = #{status, jdbcType=INTEGER},
        WHERE id_ = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateReceived">
        UPDATE dnt_payment_plan
        SET
            status = 1,
            payment_date = #{param3},
            received_amount = #{param4},
            update_time = now(),
            update_by = 1
        WHERE paylog_ref_table = #{param1} AND order_no = #{param2}
    </update>

    <select id="updateDonate" resultType="java.util.Map" statementType="CALLABLE">
        call updateDonate(#{param1},#{param2},#{param3})
    </select>

    <select id="selectIdByOrderNo" resultType="java.lang.Long">
        SELECT
           id_
        FROM
        dnt_payment_plan
        WHERE order_no=#{param1}

    </select>
</mapper>