<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.MemberMapper">

    <resultMap id="BaseResultMap" type="com.becheer.donation.model.Member">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="member_name" jdbcType="VARCHAR" property="memberName"/>
        <result column="organization_type" jdbcType="VARCHAR" property="organizationType"/>
        <result column="organization_code" jdbcType="INTEGER" property="organizationCode"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="donated_amount" jdbcType="BIGINT" property="donatedAmount"/>
        <result column="donate_contract_amount" jdbcType="BIGINT" property="donateContractAmount"/>
        <result column="no_contract_amount" jdbcType="BIGINT" property="noContractAmount"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="contact_tel" jdbcType="VARCHAR" property="contactTel"/>
        <result column="avator_img" jdbcType="VARCHAR" property="avatorImg"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="project" jdbcType="VARCHAR" property="project"/>
        <result column="id_card_front_img" jdbcType="VARCHAR" property="idCardFrontImg"/>
        <result column="id_card_back_img" jdbcType="VARCHAR" property="idCardBackImg"/>
        <result column="license" jdbcType="VARCHAR" property="license"/>
        <result column="validation" jdbcType="INTEGER" property="validation"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="role" jdbcType="INTEGER" property="role"/>
        <result column="enable_" jdbcType="INTEGER" property="enable"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="remark_" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <insert id="insertMember" parameterType="com.becheer.donation.model.Member">
        INSERT INTO dnt_member
        (
        mobile,
        create_time,
        role,
        enable_,
        password,
        validation,
        avator_img
        )
        VALUES
        (
        #{mobile,jdbcType=VARCHAR},
        now(),
        #{role,jdbcType=INTEGER},
        #{enable,jdbcType=INTEGER},
        #{password,jdbcType=VARCHAR},
        1,
        'default.jpg'
        )
    </insert>

    <select id="SelectMemberByMobile" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM dnt_member
        WHERE mobile=#{mobile,jdbcType=VARCHAR}
    </select>

    <select id="SelectMemberById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM dnt_member
        WHERE id_=#{memberId,jdbcType=BIGINT}
    </select>

    <update id="UpdateMember" parameterType="com.becheer.donation.model.Member">
        UPDATE dnt_member
        SET
        member_name=#{memberName,jdbcType=VARCHAR},
        id_card=#{idCard,jdbcType=VARCHAR},
        sex=#{sex,jdbcType=INTEGER},
        birthday=#{birthday,jdbcType=TIMESTAMP},
        project=#{project,jdbcType=VARCHAR},
        summary=#{summary,jdbcType=VARCHAR},
        organization_type=#{organizationType,jdbcType=VARCHAR},
        organization_code=#{organizationCode,jdbcType=VARCHAR},
        update_time = now(),
        <if test="idCardFrontImg!=null">id_card_front_img=#{idCardFrontImg},</if>
        <if test="idCardBackImg!=null">id_card_back_img=#{idCardBackImg},</if>
        <if test="license!=null">license=#{license},</if>
        validation=#{validation,jdbcType=INTEGER}
        WHERE id_ = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateLogin">
        UPDATE
          dnt_member
        SET
          login_ip = #{param1},
          login_time = now(),
          update_time = now()
        WHERE id_ = #{param2}
    </update>

    <update id="UpdatePw">
        UPDATE dnt_member set `password` = #{param1}, update_time = now() where mobile = #{param2}
    </update>

    <update id="updateAvator">
        UPDATE
          dnt_member
        SET
            update_time = now(),
            avator_img=#{param1}
        WHERE id_ = #{param2}
    </update>

</mapper>