<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.ProgressMapper">

    <resultMap id="MemberProgressMapper" type="com.becheer.donation.model.extension.progress.ProgressExtension">
        <id column="id_" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="enable_" jdbcType="INTEGER" property="enable" />
    </resultMap>


    <select id="SelectAllProgress" resultMap="MemberProgressMapper">
        SELECT
            id_,
            title,
            content,
            enable_,
            create_time
        FROM
            dnt_progress
        WHERE
            ref_table=#{param2}
        AND
            ref_record_id=#{param1}
        AND
            enable_=1
        ORDER BY create_time
    </select>

    <insert id="InsertProgress" parameterType="com.becheer.donation.model.Progress" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dnt_progress(
        id_,
        ref_table,
        ref_record_id,
        title,
        content,
        remark_,
        enable_,
        create_time,
        create_by,
        update_time,
        update_by,
        type,
        module,
        record_status,
        create_member_id
        )VALUES (
        #{id,jdbcType=BIGINT},
        #{refTable,jdbcType=VARCHAR},
        #{refRecordId,jdbcType=BIGINT},
        #{title,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{enable,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=BIGINT},
        #{updateTime,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=BIGINT},
        #{type,jdbcType=INTEGER},
        #{module,jdbcType=VARCHAR},
        #{recordStatus,jdbcType=INTEGER},
        #{createMemberId,jdbcType=BIGINT}
        )
    </insert>
</mapper>