<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.ProgressMapper">

    <resultMap id="MemberProgressMapper" type="com.becheer.donation.model.extension.progress.ProgressExtension">
        <id column="id_" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="enable_" jdbcType="INTEGER" property="enable" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="member_name" jdbcType="VARCHAR" property="memberName" />
        <result column="accepter_name" jdbcType="VARCHAR" property="accepterName" />
    </resultMap>


    <select id="SelectAllProgress" resultMap="MemberProgressMapper">
        SELECT
            p.id_,
            p.title,
            p.content,
            m.member_name,
            a.name as accepter_name,
            u.user_name,
            p.enable_,
            p.create_time
        FROM
            dnt_progress p
        LEFT JOIN dnt_member m ON m.id_ = p.create_member_id

        LEFT JOIN dnt_acceptor a on a.member_id = m.id_

        LEFT JOIN sys_user u on u.id_ = p.create_by

        WHERE
            p.ref_table=#{param2}
        AND
            p.ref_record_id=#{param1}
        AND
            p.enable_=1
        AND
            p.progress_type is NULL
        ORDER BY p.create_time
    </select>

    <insert id="InsertProgress" parameterType="com.becheer.donation.model.Progress" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dnt_progress(
        id_,
        ref_table,
        ref_record_id,
        title,
        content,
        remark_,
        enable_,
        create_time,
        create_by,
        update_time,
        update_by,
        type,
        module,
        record_status,
        <if test="progressType!=0">
            progress_type,
        </if>
        create_member_id
        )VALUES (
        #{id,jdbcType=BIGINT},
        #{refTable,jdbcType=VARCHAR},
        #{refRecordId,jdbcType=BIGINT},
        #{title,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{enable,jdbcType=INTEGER},
        now(),
        #{createBy,jdbcType=BIGINT},
        #{updateTime,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=BIGINT},
        #{type,jdbcType=INTEGER},
        #{module,jdbcType=VARCHAR},
        #{recordStatus,jdbcType=INTEGER},
        <if test="progressType!=0">
            #{progressType,jdbcType=INTEGER},
        </if>
        #{createMemberId,jdbcType=BIGINT}
        )
    </insert>
</mapper>