<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.ProjectProgressMapper">

    <resultMap id="BaseResultMap" type="com.becheer.donation.model.ProjectProgress">
        <id column="id_" jdbcType="BIGINT" property="id"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="enable_" jdbcType="INTEGER" property="enable"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="remark_" jdbcType="VARCHAR" property="remark"/>
        <result column="record_status" jdbcType="VARCHAR" property="record_status"/>
    </resultMap>


    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <insert id="insertProjectProject" parameterType="com.becheer.donation.model.ProjectProgress" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO dnt_project_progress
        (
        project_id,
        title,
        summary,
        content,
        enable_,
        create_time,
        status
        )
        VALUES (
        #{projectId},
        #{title},
        #{summary},
        #{content},
        1,
        now(),
        #{status}
        )
    </insert>

    <select id="SelectByCondition" parameterType="com.becheer.donation.model.condition.ProjectProgressCondition"
            resultMap="BaseResultMap">
        select
        id_,title,summary,content,type,create_time
        from dnt_project_progress
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>

    <insert id="batchInsertProjectProject" parameterType="java.util.List">
        INSERT INTO dnt_project_progress(
        project_id,
        title,
        summary,
        content,
        enable_,
        create_time,
        status
        )VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.projectId},#{item.title}, #{item.summary}, #{item.content}, 1,now(),#{item.status})
        </foreach>
    </insert>

</mapper>