<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.becheer.donation.dao.SmsMapper">

    <resultMap id="BaseResultMap" type="com.becheer.donation.model.Sms">
        <id column="id_" jdbcType="BIGINT" property="id" />
        <result column="sms_template_id" jdbcType="BIGINT" property="smsTemplateId" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="text" jdbcType="VARCHAR" property="text" />
        <result column="reply" jdbcType="VARCHAR" property="reply" />
        <result column="sms_type" jdbcType="VARCHAR" property="smsType" />
        <result column="send_date_time" jdbcType="DATE" property="sendTime" />
        <result column="invalid_date_time" jdbcType="TIMESTAMP" property="invalidTime" />
        <result column="send_status" jdbcType="VARCHAR" property="sendStatus" />
        <result column="send_id" jdbcType="VARCHAR" property="sendId" />
        <result column="sms_credits" jdbcType="VARCHAR" property="smsCredit" />
        <result column="send_error_code" jdbcType="VARCHAR" property="sendErrorCode" />
        <result column="send_error_message" jdbcType="VARCHAR" property="sendErrorMessage" />
        <result column="enable_" jdbcType="INTEGER" property="enable" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="BIGINT" property="updateBy" />
        <result column="remark_" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <resultMap id="ExtensionResultMap" type="com.becheer.donation.model.extension.sms.SmsTemplateExtension">
        <id column="id_" jdbcType="BIGINT" property="templateId" />
        <result column="content" jdbcType="VARCHAR" property="content" />
    </resultMap>

    <select id="selectSmsTemplateById" parameterType="java.lang.Long" resultMap="ExtensionResultMap">
        SELECT
        id_,content
        FROM dnt_sms_template
        WHERE id_=#{id,jdbcType=BIGINT} AND enable_=1
    </select>

    <select id="selectSmsCountByMobile" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM dnt_sms WHERE mobile = #{mobile,jdbcType=VARCHAR} AND to_days(create_time) =to_days(now())
    </select>

    <select id="selectSmsByMobile" parameterType="com.becheer.donation.model.Sms" resultMap="BaseResultMap">
          SELECT * FROM dnt_sms WHERE mobile=#{mobile,jdbcType=VARCHAR} AND sms_template_id=#{smsTemplateId,jdbcType=BIGINT} ORDER BY create_time DESC LIMIT 0,1
    </select>

    <update id="updateSmsStatus" parameterType="com.becheer.donation.model.Sms">
        update dnt_sms
        set enable_ = #{enable,jdbcType=INTEGER},
        update_time = now()
        where id_ = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insertSms" parameterType="com.becheer.donation.model.Sms" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO dnt_sms (
        id_,
        sms_template_id,
        mobile,
        code,
        text,
        send_date_time,
        invalid_date_time,
        enable_,
        create_time
        )
        VALUES (
        #{id,jdbcType=BIGINT},
        #{smsTemplateId,jdbcType=BIGINT},
        #{mobile,jdbcType=VARCHAR},
        #{code,jdbcType=VARCHAR},
        #{text,jdbcType=VARCHAR},
        #{sendTime,jdbcType=DATE},
        #{invalidTime,jdbcType=TIMESTAMP},
        #{enable,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
</mapper>